.sideMenuWrapper {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;

  overflow: scroll;
  transform: translateX(200%);
  transition: transform 0.2s ease-in-out;

  z-index: 21;
}

.sideMenuMainWrapper {

  //right: -100%;


  background-color: #393939;

  padding: 10px 0px;



}
.showMobileMenu {
  transform: translateX(0%);
}

.sideMenuHeader {
  display: flex;
  flex-direction: column;

  position: relative;
}

.sideMenuCloseButton {
  width: 20px;
  height: 20px;

  position: absolute;

  right: 15px;
  top: 10px;
  & span {
    display: block;
    background-color: #ffffff;

    width: 100%;
    height: 2px;

    position: absolute;

  }
  & span:nth-child(1) {
    transform: rotateZ(45deg);
  }
  & span:nth-child(2) {
    transform: rotateZ(-45deg);
  }
}

.sideMenuLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

.userInfoBlock {

  & .username {
    color: #b2b2b2;
    font-size: 14px;

    margin: 0 0 20px 15px;
  }

  & .userMoney {
    color: #d2d1d1;
    font-size: 16px;
    text-transform: uppercase;

    margin: 0 0 20px 15px;
  }

  & .userInfoDivider {
    height: 3px;

    background-color: #535353;

    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .userBonusesInfo {
    display: flex;
    justify-content: space-between;

    color: #d2d1d1;

    margin: 0 15px 20px 15px;

    & .realMoneyBlock {
      display: flex;
      flex-direction: column;

      & .realMoneyCount {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        margin-bottom: 10px;
      }
      & .realMoneyText {
        font-size: 14px;
      }
    }

    & .bonusMoneyBlock {
      display: flex;
      flex-direction: column;

      text-align: right;

      & .bonusMoneyCount {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        margin-bottom: 10px;
      }
      & .bonusMoneyText {
        font-size: 14px;
      }
    }
  }
  & .sideMenuButtonsBlock {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.mobileSideListWrapper {
  background-color: #000000;
}
.mobileSideList {
  list-style-type: none;
  padding: 0 10px 0 10px;
  margin: 0;
  & .mobileSideListItem {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    border-bottom: 1px solid #a7a7a7;


    & > img {
      width: 35px;
      height: 35px;
      margin: 10px 20px 10px 0;
    }
    & > a, p {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-tap-highlight-color: transparent;
      outline: none;
      width: 100%;
      color: #a7a7a7;

      margin: 19px 0 18px 0;
    }
  }
}

.dropMenu {
  display: flex;
  flex-direction: column;

  margin-left: -51px;

  overflow: hidden;
  & a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    width: 100%;
    color: #a7a7a7;
  }
  & .dropMenuListItem {
    border-top: 1px solid #a7a7a7;
    position: relative;
    & a {
      display: block;
      margin: 19px 0 18px 51px;
    }
  }
}
.helpMenuBlock {
  margin-left: 0px;
  border-top: 1px solid #a7a7a7;
  & p.helpMenuHeading, p.helpMenuInfo {
    //border-top: 1px solid #a7a7a7;

    width: 80%;
    margin: 19px 0 18px 51px;
  }
  & .helpMenuLinksWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 19px 0 18px 51px;
    & .helpMenuLinkBlock {
      margin-right: 20px;
      margin-top: 10px;

      background-color: #3C3955;

      padding: 10px;

      border-radius: 5px;
      & a {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}
.wrapperItemsDrop {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &:after {
    content: '';

    width: 10px;
    height: 10px;

    position: absolute;
    top: 25px;
    right: 20px;

    border-right: 1px solid #848282;
    border-bottom: 1px solid #848282;

    transform: rotateZ(45deg);
    transition: transform 0.2s ease-in-out;
  }
  &.dropHide:after {
    transform: rotateZ(-45deg);
  }
}

.dropHide {
  & .dropMenu{
    background-color: #ff0e0e;
    height: 0px;
  }
}



.sideMenuFooter {
  & .sideFooterRights {
    text-align: center;
    font-size: 12px;
    color: #a7a7a7;
    white-space: nowrap;
  }
}
.sideMenuFooterIconsBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 55px;

  & a {
    width: 35px;
    height: 35px;

    margin-left: 5px;
  }
}



