@import '../colors.module';

.depositPageWrapper {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  //right: 0;
  //bottom: 0;

  background-color: $black-back-modals;

  z-index: 12;

  overflow-y: auto;
}

.hide {
  display: none;
}

.depositsMainBlock {
  max-width: 1500px;

  margin: 130px auto;

  & h2 {
    margin: 25px 0;

    font-size: 40px;
    letter-spacing: 1px;
    color: $red-color;
    font-family: "Lithograph";
    text-transform: uppercase;
    //white-space: nowrap;

    text-align: center;
  }

  & h2.ru {
    font-family: Arial, sans-serif;
  }
}



.depositInnerBlockWrapper {
  border-radius: 15px;

  background-color: #ffffff;

  padding: 5px;

  max-width: 430px;

  margin: 0 auto;
}

.depositHeadingBlock {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $red-color;

  border-radius: 15px 15px 0 0;

  & h3 {
    margin: 20px 0 15px 0;

    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Lithograph";
    text-transform: uppercase;

  }
  & .depositPageCloseButton {
    position: absolute;

    top: 13px;
    right: 0px;

    width: 35px;
    height: 35px;

    & .closeOne, .closeTwo{
      display: block;

      position: relative;

      background-color: #ffffff;
      width: 26px;
      height: 2px;
    }
    & .closeOne {
      transform: rotateZ(-45deg);
      top: 15px;
    }
    & .closeTwo {
      transform: rotateZ(45deg);
      top: 13px;
    }
  }
  & .depositPageCloseButton:hover {
    cursor: pointer;
  }
}



.depositInputsBlock {

  padding: 15px 30px;

  & .depositInputCurrencyBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    & .depositInputCountWrapper {
      display: flex;
      flex-direction: column;

      position: relative;

      & .labelEnterSum {
        font-size: 14px;
        color: #8f8f8f;
        font-family: "Verdana";

        margin-bottom: 5px;
      }

      & .depositSummInput {
        background-color: #f2f6f9;

        border: 0.75px solid $red-color;

        width: 221px;
        height: 50px;

        font-size: 36px;
        color: #3a3a3a;
        font-weight: 600;
        font-family: "Lithograph", sans-serif;

        outline: none;

        padding-left: 45px;

        -moz-appearance: textfield;
      }
      & input.depositSummInput::-webkit-outer-spin-button,
      input.depositSummInput::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      & .labelIconCurrency {

        font-size: 36px;
        color: #3a3a3a;
        font-family: "Source Sans", sans-serif;

        position: absolute;

        top: 24px;
        left: 10px;
      }
    }

    & .depositCurrencyButton {
      width: 68px;
      height: 33px;

      border-radius: 5px;
      background-color: #f2f6f9;

      border: 0.88px solid #9fabba;

      display: flex;
      align-items: center;

      padding: 0px 5px;
      margin-top: 20px;

      position: relative;

      & .depositCurrencyButtonArrow {
        width: 8px;
        height: 8px;

        border-bottom: 1px solid #3a3a3a;
        border-right: 1px solid #3a3a3a;

        transform: rotateZ(45deg);

        position: absolute;

        right: 8px;
      }
    }
    & .depositCurrencyButton:hover {
      cursor: pointer;
    }

  }
}



.depositsBonusesBlock {
  padding: 0px 30px;

  position: relative;
  & .selectBonus {
    font-size: 14px;
    color: #868686;
    font-family: "Verdana";
    text-transform: uppercase;

  }
  & .bonusesInformationBlock.showAllBonuses {
    height: auto;
    //overflow-y: auto;
  }

  & .bonusesInformationBlock {
    width: 357px;
    height: 62px;

    background-color: #f2f6f9;
    border: 0.75px solid #a6a6a6;

    display: flex;
    flex-wrap: nowrap;
    //flex-direction: column;
    align-items: flex-start;

    position: relative;

    overflow: hidden;

    & .bonusesDropdownWrapper {
      background-color: #f2f6f9;

      position: relative;

      z-index: 2;

      top: 0px;
      left: 0;

      & > div:hover {
        //margin-bottom: 20px;
      }

    }
    & .dropdownWrapperActive {
      top: 0px;
    }
    & .activeBonusInfo {

      margin-top: 5px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      & img {
        width: 50px;
        height: 50px;

        margin-bottom: 5px;
        margin-right: 15px;
        margin-left: 5px;
      }

      & .bonusInfoBlock {
        width: 255px;

        & .bonusHeadingBlock {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          //justify-content: space-evenly;

          font-size: 14px;
          line-height: 24px;
          color: #b2b1b1;
          font-family: "Verdana";
          & span {
            margin-right: 35px;
            white-space: nowrap;

          }
          & .bonusInfoHeading {
            text-overflow: ellipsis;

            display: block;
            overflow: hidden;
            max-width: 200px;
          }
          & span.infoLable {
            margin-right: 0px;
            text-decoration: underline;
          }
        }

        & .bonusDescriptionInfo {
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0px;
          color: $red-color;
          font-family: "Verdana";
          text-transform: uppercase;
          white-space: nowrap;

          overflow: hidden;
          text-overflow: ellipsis;

          margin: 10px 0 0 0;
        }
      }
    }
    & .notActiveBonusInfo {
      margin-top: 5px;
      & img {
        width: 50px;
        height: 50px;
      }
    }
  }
  & .bonusesInformationBlock:after {
    position: absolute;

    top: 21px;
    right: 15px;

    content: '';

    width:  10px;
    height: 10px;

    border-bottom: 2px solid $red-color;
    border-right: 2px solid $red-color;

    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
    transform: rotateZ(45deg);
  }
  & .bonusesInformationBlock.showAllBonuses:after {
    top: 50%;
    transform: rotateZ(-135deg);
  }

  & .bonusesInformationBlock:hover {
    cursor: pointer;
  }

  & .bonusesSwitcher {
    position: absolute;
    top: -20px;
    right: 30px;

    & .switch {
      position: relative;
      display: inline-block;
      width: 67px;
      height: 37px;
    }
    & .switch input {
      display:none;
    }
    & .slider {
      position: absolute;
      cursor: pointer;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    & .slider:before {
      position: absolute;
      content: "NO";
      height: 30px;
      width: 33px;
      left: 31px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;

      text-align: center;
      font-weight: 700;
      font-size: 13px;
      line-height: 30px;
      color: #ccc;
      font-family: "Verdana";
    }

    & .bonusSwitcherInput:checked + .slider {
      background-color: $red-color;
    }

    & .bonusSwitcherInput:focus + .slider {
      box-shadow: 0 0 1px $red-color;
    }

    & .bonusSwitcherInput:checked + .slider:before {
      -webkit-transform: translateX(-27px);
      -ms-transform: translateX(-27px);
      transform: translateX(-27px);
      content: "YES";
      color: $red-color;
    }
    & .slider.round {
      border-radius: 34px;
    }

    & .slider.round:before {
      border-radius: 50%;
    }
  }

  .bonusCodeInputWrapper {
    margin-top: 10px;

    width: 357px;
    height: 0px;
    overflow: hidden;

    & input {
      width: 100%;
      height: 100%;

      background-color: #f2f6f9;

      color: $red-color;

      border: 0.75px solid $red-color;

      outline: none;

      padding: 0 15px;
    }
  }
  & .showDepositsBonusInput {
    height: 40px;
  }
}
.depositPayments {
  width: 100%;

  padding: 40px 30px 10px;

  & .depositPaymentsImages {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

  }
}

.depositsIhaveBonusCodeBlock {
  cursor: pointer;
  & > p {
    font-size: 15px;
    font-weight: 600;
    color: $red-color;
    font-family: "Lithograph";

    text-align: center;
  }

}

.depositsButton {
  margin: 20px auto 0px;

  max-width: 429px;
  height: 75px;

  border: 4px solid #ffffff;
  border-radius: 15px;

  background-color: $red-color;

  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lithograph";
    text-transform: uppercase;
    text-align: center;
  }
}
.depositsButton:hover {
  cursor: pointer;
}

.depositsChoosePaymentWrapper {

  & div.paymentLoading {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  & .choosePaymentHeading {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #a1a1a1;
    font-family: "Myriad Pro";
    text-transform: uppercase;
    text-align: center;

    margin: 20px 0px 0px 0px;
  }
  & .paymentMethodsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & div.paymentItem {
      width: 67px;
      height: 40px;
      //width: 100%;
      //height: fit-content;

      overflow: hidden;

      border: 1px solid #9d9d9d;
      border-radius: 5px;

      background-color: #dcdcdc;

      margin: 9px;

      cursor: pointer;

      //background-color: rgba(0,0,0, 0.7);

      display: flex;
      align-items: center;
      justify-content: center;

    }
    & div.paymentItem.active {
      border: 2px solid $red-color;
      background-color: rgba(129, 129, 129, 0.5);
    }
    & div.paymentItemFiat {
      flex-direction: column;
      //max-width: 60px;
      & img {
        width: 50%;
        height: auto;
      }
    }
    & div.cryptoPaymentImage {
      //max-width: 60px;
      & img {
        //width: 55%;
        height: 100%;
      }

    }
  }
}

.depositLastWrapper {
  margin-top: 10px;
  padding: 0 30px;
  & .chosenPaymentMethodBlock {
    width: 67px;
    height: 40px;

    border: 1px solid #dadada;

    background-color: #f7f7f7;

    margin: 0 auto;
    & img {
      width: 100%;
      height: 100%;
    }
  }

  & .inputsWrapper {
    & .emailInputContainer {
      display: flex;
      flex-direction: column;

      margin-bottom: 15px;
      & label {
        color: $red-color;
        font-size: 16px;

        margin-left: 15px;
      }
      & input {
        background-color: #f2f6f9;

        border: 0.75px solid #a6a6a6;

        width: 100%;
        height: 40px;

        font-size: 24px;
        color: #3a3a3a;
        font-family: "Source Sans Roman";

        outline: none;
      }
      & input:focus {
        border: 0.75px solid $red-color;
      }
    }

    & .amountPaymentContainer {
      display: flex;
      flex-direction: column;

      position: relative;
      & input {
        background-color: #f2f6f9;

        border: 0.75px solid #a6a6a6;

        width: 100%;
        height: 40px;

        font-size: 24px;
        color: #3a3a3a;
        font-family: "Source Sans Roman";

        padding-left: 30px;

        outline: none;
        -moz-appearance: textfield;
      }
    & input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
      & input:focus {
        border: 0.75px solid $red-color;
      }

      & .amountPaymentInfo {
        color: $red-color;
        font-size: 16px;

        margin-left: 15px;
      }
      & .currencyIcon {
        position: absolute;

        color: #3a3a3a;
        font-size: 20px;

        top: 26px;
        left: 10px;
      }
    }
  }

  & .paymentSecureInfo {
    color: #A0A1A5;
    font-size: 12px;
    text-align: center;

    margin-top: 20px;
  }
}

span.errorMessage {
  font-size: 10px;
  color: $red-color;
}

.divider{
  display: none;
}
@media screen and (max-width: 600px) {
  .depositsMainBlock {

    & h2 {
      margin: 25px 0;
      font-size: 30px;
    }
  }

  .depositInnerBlockWrapper {
    max-width: 320px;
    border-radius: 10px 10px 10px 10px;
  }

  .depositHeadingBlock {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $red-color;

    border-radius: 10px 10px 0 0;

    & h3 {
      margin: 20px 0 15px 0;

      font-size: 20px;

    }
    & .depositPageCloseButton {

    }
  }

  .depositInputsBlock {

    padding: 30px 25px 15px;

    & .depositInputCurrencyBlock {

      & .depositInputCountWrapper {

        & .labelEnterSum {
          display: none;
        }

        & .depositSummInput {

          width: 170px;
          height: 48px;

          font-size: 25px;

          font-family: "Segoe UI";

          outline: none;

          padding-left: 35px;

          -moz-appearance: textfield;
        }
        & input.depositSummInput::-webkit-outer-spin-button,
        input.depositSummInput::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        & .labelIconCurrency {

          font-size: 25px;
          color: #3a3a3a;
          font-family: "Segoe UI";


          position: absolute;

          top: 7px;
          left: 10px;
        }
      }

      & .depositCurrencyButton {
        width: 90px;
        height: 40px;

        border-radius: 10px;
        background-color: #f2f6f9;
        border: 1px solid #cad2d8;

        padding: 0px 5px;
        margin-top: 0px;
        margin-left: 17px;


        & .depositCurrencyButtonArrow {
          width: 8px;
          height: 8px;

          border-bottom: 1px solid #3a3a3a;
          border-right: 1px solid #3a3a3a;

          transform: rotateZ(45deg);

          position: absolute;

          right: 8px;
        }
      }

    }
  }
  .divider {
    display: block;

    height: 2px;
    width: 100%;

    background-color: #e8e7e7;
  }

  .depositsBonusesBlock {
    padding: 0px 10px;

    position: relative;
    & .selectBonus {
      font-size: 15px;
      color: #545454;
      font-family: "Segoe UI";

      text-transform: uppercase;

      max-width: 170px;

      margin-left: 10px;
    }

    & .bonusesInformationBlock {
      width: 285px;
      height: 87px;

      background-color: #f2f6f9;
      border: 1px solid #cad2d8;

      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;

      position: relative;

      margin-top: 27px;

      & .bonusesDropdownWrapper {
        min-height: 85px;
      }

      & .activeBonusInfo {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        min-height: 80px;
        & img {
          width: 37px;
          height: 41px;

          margin-bottom: 30px;
          margin-right: 8px;
          margin-left: 5px;
        }
        & img.imageNotActive{
          margin-bottom: 0px;
        }
        & .bonusInfoBlock {
          width: 175px;

          & .bonusHeadingBlock {
            margin-top: 10px;

            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            font-size: 16px;
            color: #545454;
            font-family: "Segoe UI";
            line-height: 24px;

            & span {

              margin-right: 10px;

              white-space: nowrap;
            }
            & a {
              text-decoration: underline;
            }
          }

          & .bonusDescriptionInfo {
            width: 255px;

            font-size: 15px;
            color: $red-color;
            font-family: "Segoe UI";
            font-weight: normal;
            letter-spacing: 0px;
            text-transform: uppercase;
            white-space: nowrap;

            overflow: hidden;
            text-overflow: ellipsis;

            margin: 10px 0 0 -40px;
          }
        }
      }
      & .notActiveBonusInfo {

        & img {
          margin-bottom: 0px;
          width: 37px;
          height: 41px;
        }
      }
    }
    & .bonusesInformationBlock:after {
      position: absolute;

      top: 27px;
      right: 18px;

      content: '';

      width:  10px;
      height: 10px;

      border-bottom: 2px solid $red-color;
      border-right: 2px solid $red-color;

      transform: rotateZ(45deg);
    }
    & .bonusesInformationBlock:hover {
      cursor: pointer;
    }


    & .bonusesSwitcher {
      position: absolute;
      top: -11px;
      right: 30px;

      & .switch {
        position: relative;
        display: inline-block;
        //width: 67px;
        //height: 37px;

        width: 87px;
        height: 43px;
      }
      & .switch input {
        display:none;
      }
      & .slider {
        position: absolute;
        cursor: pointer;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      & .slider:before {
        position: absolute;
        content: "NO";
        height: 37px;
        width: 40px;
        left: 42px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;

        text-align: center;
        font-weight: 700;
        font-size: 13px;
        line-height: 39px;
        color: #ccc;
        font-family: "Verdana";
      }

      & .bonusSwitcherInput:checked + .slider {
        background-color: $red-color;
      }

      & .bonusSwitcherInput:focus + .slider {
        box-shadow: 0 0 1px $red-color;
      }

      & .bonusSwitcherInput:checked + .slider:before {
        -webkit-transform: translateX(-37px);
        -ms-transform: translateX(-37px);
        transform: translateX(-37px);
        content: "YES";
        color: $red-color;
      }
      & .slider.round {
        border-radius: 34px;
      }

      & .slider.round:before {
        border-radius: 50%;
      }
    }

    .bonusCodeInputWrapper {
      margin-top: 10px;

      width: 285px;
      height: 0px;
      overflow: hidden;

      background-color: #47b14c;
      & input {
        width: 100%;
        height: 100%;

        background-color: #f2f6f9;

        color: $red-color;

        border: 0.75px solid $red-color;

        outline: none;

        padding: 0 15px;
      }
    }
    & .showDepositsBonusInput {
      height: 40px;
    }
  }

  .depositsChoosePaymentWrapper {

    & .choosePaymentHeading {
      font-size: 15px;
      color: #545454;
      font-family: "Segoe UI";
      font-weight: 400;
      letter-spacing: 0px;

      margin: 20px 0px 0px 0px;
    }
    & .paymentMethodsBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      & div.paymentItem {
        width: 82px;
        //height: 35px;

        border: 1px solid #dadada;

        background-color: rgba(0,0,0, 0.7);

        margin: 6px;

        cursor: pointer;

        & img {
          width: 50%;
          height: 100%;
        }
      }
      & div.paymentItem.cryptoPaymentImage {
        //height: 50px;
      }
    }
  }

  .depositLastWrapper {
    margin-top: 10px;
    padding: 0 15px;
    & .chosenPaymentMethodBlock {
      width: 67px;
      height: 40px;

      border: 1px solid #dadada;

      background-color: #f7f7f7;

      margin: 0 auto;
      & img {
        width: 100%;
        height: 100%;
      }
    }

    & .inputsWrapper {
      & .emailInputContainer {
        display: flex;
        flex-direction: column;

        margin-bottom: 15px;
        & label {
          color: $red-color;
          font-size: 14px;

          margin-left: 15px;


        }
        & input {
          background-color: #f2f6f9;

          border: 0.75px solid #a6a6a6;

          width: 100%;
          height: 40px;

          font-size: 24px;
          color: #3a3a3a;
          font-family: "Source Sans Roman";

          outline: none;
        }
        & input:focus {
          border: 0.75px solid $red-color;
        }
      }

      & .amountPaymentContainer {
        display: flex;
        flex-direction: column;

        position: relative;
        & input {
          background-color: #f2f6f9;

          border: 0.75px solid #a6a6a6;

          width: 100%;
          height: 40px;

          font-size: 24px;
          color: #3a3a3a;
          font-family: "Source Sans Roman";

          padding-left: 25px;

          outline: none;
          -moz-appearance: textfield;
        }
        & input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        & input:focus {
          border: 0.75px solid $red-color;
        }

        & .amountPaymentInfo {
          color: $red-color;
          font-size: 14px;
          white-space: nowrap;

          margin-left: 15px;
        }
        & .currencyIcon {
          position: absolute;

          color: #3a3a3a;
          font-size: 20px;

          top: 24px;
          left: 10px;
        }
      }
    }

    & .paymentSecureInfo {
      color: #A0A1A5;
      font-size: 14px;
      text-align: center;

      margin-top: 20px;
    }
  }

  .depositsButton {
    margin: 18px auto 0px;

    max-width: 320px;
    height: 56px;

    border: 4px solid #ffffff;
    border-radius: 15px;

    background-color: $red-color;

    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #ffffff;
      font-family: "Myriad Pro";
      text-transform: uppercase;
    }
  }
}
