.menuContainer {
  & * {
    transition: none;
  }
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  color: #fff;
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  .menuItem {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    transition: .13s linear;
  }

  .itemInner {
    background: #000;
  }

  .menuItem1 {
    width: 50%;
    height: 100%;

    .itemInner {
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .menuItem2 {
    width: 50%;
    height: 100%;

    .itemInner {
      overflow: hidden;
      transform: translate3d(100%,0,0);
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      //background-color: #e237d6;
      flex-direction: column;
      justify-content: center;
    }
  }
  .menuClose {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background: #fea0ae;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 210;
  }

  .headerNavbarList {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .headerNavbarListItem {
    height: 90px;
    width: 100%;
    text-align: right;

    &:hover {
      background: #fea0ae;
      color: #000;
    }
  }

  .headerNavbarListItem > a {
    width: 100%;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    height: 90px;
    font-size: 47px;
    font-weight: 700;
    line-height: 90px;
    transition: .3s linear;
    padding-right: 5%;
    color: white;
    font-family: "Verdana";
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    display: block;

    &:hover {
      color: #000;
    }
  }

  .rightNavbarList {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    list-style-type: none;
    width: auto;
    padding: 0;
    margin: 0;
    padding-left: 5%;
  }

  .rightNavbarListItem {
    text-align: left;
    margin: 5px;
  }

  .rightNavbarListItem > a {
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    font-size: 18px;
    background-color: transparent;
    color: #998b99;
    text-align: left;
    transition: .3s linear;
    font-family: "Verdana";
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    display: block;

    &:hover {
      color: #fea0ae;
    }
  }

  .contactNavbarList {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    list-style-type: none;
    width: auto;
    padding: 0;
    margin: 0;
    padding-left: 5%;
  }

  .contactNavbarListItem {
    text-align: left;
    margin: 5px;
  }

  .contactNavbarListItem > a {
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    font-size: 18px;
    background-color: transparent;
    color: #fea0ae;
    text-align: left;
    transition: .3s linear;
    font-family: "Verdana";
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    display: block;

    &:hover {
      color: #fea0ae;
    }
  }
}

