.changePasswordForm {
  font-size: 16px;
  letter-spacing: 0px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;

  & p {
    margin: 0;
  }
  & p.errorMessage {
    color: #ff0000;

    font-size: 10px;

    max-width: 250px;
  }

  & > div {
    display: flex;
    align-items: center;

    margin-bottom: 35px;
  }

  & div > label {
    width: 200px;

    display: block;

    margin-right: 20px;

    white-space: nowrap;

    flex-shrink: 0;
  }


  & input {
    outline: none;

    height: 30px;

    border-radius: 5px;

    border: 1px solid #000000;

    font-size: 16px;

  }
  & input:focus {
    border: 1px solid #ff0000;
  }
}

.successMessage {
  font-size: 16px;
  letter-spacing: 0px;
  color: #318511;
  font-family: "Verdana", Arial, sans-serif;
}

.buttonsContainer {
  display: flex;
  align-items: center;


  & button {
    width: 121px;
    height: 34px;

    border-radius: 17px;

    background-color: #ff0000;

    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Verdana", Arial, sans-serif;

    border: none;

    cursor: pointer;

    margin-right: 20px;
  }

  & a {
    font-size: 15px;
    letter-spacing: 0px;
    color: #ff0000;
    font-family: "Verdana", Arial, sans-serif;
  }
}