.changePasswordContainer {
  padding: 35px 0px 35px 10px;

  border-bottom: 1px solid #eeeeee;
}

.changePasswordHeading {
  font-size: 17px;
  letter-spacing: 0px;
  color: #464646;
  font-family: "Verdana", Arial, sans-serif;

  margin: 0 0 10px;
}

.emailInfo {
  font-size: 16px;
  letter-spacing: 0px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;

  display: flex;

  margin: 35px 0 25px;

  & span:first-child {

    display: block;

    margin-right: 30px;
  }
  & span:nth-child(2){
    display: block;
  }
}

.changePasswordLink {
  display: flex;
  align-items: center;

  min-width: 207px;
  max-width: 208px;
  height: 34px;

  border-radius: 17px;
  border: none;

  background-color: #ff0000;

  padding-left: 52px;


  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Verdana", Arial, sans-serif;

  position: relative;
}

.changePasswordLink:before {
  position: absolute;
  top: 2px;
  left: 15px;

  width: 27px;
  height: 27px;

  content: '';

  display: block;

  background-image: url("/assets/img/myAccount/profileInfo/editProfileIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}