.textInfo {
  font-size: 16px;
  line-height: 20px;
  color: #515151;
  font-family: "Verdana", Arial, sans-serif;

  margin-bottom: 45px;
}

.inputWrapper {
  display: flex;
  //align-items: center;
  margin-bottom: 45px;


  & label {
    align-self: flex-end;

    font-size: 16px;
    color: #515151;
    font-family: "Verdana", Arial, sans-serif;

    width: 180px;
  }
  & label.phoneLabel {
    margin-top: 10px;
    align-self: flex-start;
  }

  & input {
    height: 30px;
    width: 239px;

    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #b2b2b2;

    font-size: 16px;
    color: #515151;
    font-family: "Verdana", Arial, sans-serif;
  }
}

.selectorWrapper {
  display: flex;
  align-items: center;

  margin-bottom: 45px;

  & .labelWrapper {
    width: 180px;
  }
  & .labelWrapper.birthdayLabel {
    align-self: flex-start;
  }

  & label {
    flex-shrink: 0;



    font-size: 16px;
    color: #515151;
    font-family: "Verdana", Arial, sans-serif;

    width: 180px;
  }
}

.selectorsContainer {
  & select {
    width: 239px;
    height: 43px;
    border-radius: 5px;
    background-color: #efefef;
    border: 1px solid #707070;

    font-size: 16px;
    color: #515151;
    font-family: "Verdana", Arial, sans-serif;
  }
}

.selectorsContainer.birthdaySelectorsWrapper {
   & div {
     margin-bottom: 14px;
   }
}

.phoneNumberWrapper {
  display: flex;
  flex-direction: column;

  & .phonePrompt {
    margin-top: 10px;

    font-size: 16px;
    color: #515151;
    font-family: "Verdana", Arial, sans-serif;
  }
}


.checkboxWrapper {
  display: flex;
  flex-direction: column;

  margin-left: 230px;

}

.checkboxContainer {
  margin-bottom: 50px;

  & input {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  & label {
    position: relative;
  }

  & label:before {
    content: '';

    width: 38px;
    //38px;
    height: 34px;
    //34px;


    border: 1px solid #babbbc;
    border-radius: 5px;

    position: absolute;
    top: -7px;
    left: -50px;
  }

  & input:checked + label:before {
    background-color: #ff0000;

    background-image: url("/assets/img/registerSignup/checked.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 45px;

  & button {
    margin-left: 20px;

    width: 121px;
    height: 34px;

    border-radius: 17px;

    background-color: #ff0000;

    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Verdana", Arial, sans-serif;

    border: none;

    cursor: pointer;
  }

  & button.cancelButton {
    border-radius: 13px;
    background-color: transparent;
    border: 1px solid #515151;

    color: #515151;

  }
}

@media screen and (max-width: 600px) {
  .mainContainer {
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textInfo {
    margin-top: 0;
    text-align: center;
  }

  .inputWrapper {
    & label {
      width: 110px;
      margin-right: 10px;
    }
    & input {
      height: 30px;
    }
  }
  .selectorWrapper {

    & .labelWrapper {
      width: 110px;
      margin-right: 10px;
    }

    & label {
      width: 110px;
    }
  }

  .checkboxWrapper {
    display: flex;
    flex-direction: column;

    margin-left: 170px;

  }

  .checkboxContainer {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 400px) {
  .inputWrapper {
    & label {
      width: 110px;
      margin-right: 10px;
    }
    & input {
      width: 190px;
    }
  }
  .selectorsContainer {
    & select {
      width: 190px;
    }
  }

  .phoneNumberWrapper {

    & .phonePrompt {
      font-size: 14px;
    }
  }
}