.googleAuthMainBlock {
  padding: 25px 20px 35px 10px;
}

.googleAuthHeading {
  font-size: 18px;
  letter-spacing: 0px;
  color: #747272;
  font-family: "Verdana", Arial, sans-serif;

  margin-bottom: 45px;
  margin-left: 10px;
}


.googleAuthLink {
  display: flex;
  align-items: center;

  min-width: 207px;
  max-width: max-content;
  height: 34px;

  border-radius: 17px;
  border: none;

  background-color: #ff0000;

  padding-left: 52px;
  padding-right: 10px;


  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Verdana", Arial, sans-serif;

  position: relative;
}

.googleAuthLink:before {
  position: absolute;
  top: 2px;
  left: 15px;

  width: 27px;
  height: 27px;

  content: '';

  display: block;

  background-image: url("/assets/img/myAccount/profileInfo/editProfileIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}