.phoneVerificationContainer {

  padding: 35px 0;

  border-bottom: 1px solid #eeeeee;
}

.phoneInputContainer {
  max-width: 402px;
  width: 100%;
  min-height: 144px;

  border-radius: 5px;

  background-color: #eeeeee;

  padding: 24px 17px 27px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.textFirst {
  font-size: 15px;
  letter-spacing: 0px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;

  margin: 0;
}

.textSecond {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #3f3f3f;
  font-family: "Verdana", Arial, sans-serif;

  margin: 0;
}
.phoneInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 27px;
}
.phoneVerifyInput {
  width: 229px;
  height: 38px;

  border-radius: 5px;

  background-color: #ffffff;

  border: none;

  outline: none;

  margin-right: 10px;

}

.phoneVerifyButton {
  width: 121px;
  height: 34px;

  border-radius: 17px;

  background-color: #ff0000;

  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Verdana", Arial, sans-serif;

  border: none;

  cursor: pointer;
}

.verifyCodeContainer {
  max-width: 402px;
  width: 100%;

  border-radius: 5px;

  background-color: #eeeeee;

  padding: 24px 17px 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.verifyHeading {
  font-size: 17px;
  letter-spacing: 0px;
  color: #090909;
  font-family: "Verdana", Arial, sans-serif;

  margin: 0 0 10px;
}

.verifyPhoneTable {
  font-size: 15px;
  letter-spacing: 0px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;

  & tr td {
    padding-bottom: 10px;
  }

  & tr td:first-child {
    width: 200px;
  }
}

.verifyButton, .removeNumberButton {
  width: 121px;
  height: 34px;

  border-radius: 17px;

  background-color: #ff0000;

  margin-bottom: 20px;

  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Verdana", Arial, sans-serif;

  border: none;

  cursor: pointer;
}

.removeNumberButton {
  margin-right: 10px;
}

.codeInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.verifyCodeInput {
  width: 229px;
  height: 38px;

  border-radius: 5px;

  background-color: #ffffff;

  border: none;

  outline: none;

  margin-right: 10px;

}
.verifyCodeButton {
  min-width: 121px;
  height: 34px;

  border-radius: 17px;

  background-color: #ff0000;

  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Verdana", Arial, sans-serif;

  border: none;

  cursor: pointer;
}

.errorMessage {
  position: absolute;

  color: #ff0000;
  font-size: 11px;

  bottom: 0;
  left: 10px;
  right: 10px;
}