.socialNetworkBlock {
  padding: 35px 10px 35px 10px;

  border-bottom: 1px solid #eeeeee;

  & p {
    font-size: 16px;
    letter-spacing: 0px;
    color: #747272;
    font-family: "Verdana", Arial, sans-serif;
  }
}

.socialNetworkHeading {
  font-size: 18px;
  letter-spacing: 0px;
  color: #747272;
  font-family: "Verdana", Arial, sans-serif;

  margin-bottom: 45px;
}