@import '../colors.module';

.userMainBlockWrapper {
    display: flex;

}
.userMainBlock {
    display: flex;
    align-items: center;

    margin-right: 25px;

    height: 100%;
}
.userMainBlockBellIcon {
    position: relative;

    flex-shrink: 0;

    width: 38px;
    height: 45px;

    margin-right: 23px;

    background-image: url('/assets/icons/bell_icon.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
}
.userMainBlockBellIconNotification {
    position: absolute;
    top: 0px;
    right: -5px;

    padding: 1px 3px;

    background-color: #4fa053;

    border-radius: 50%;

    text-align: center;
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;

    width: 16px;
    height: 16px;
}

.userMainBlockUserInfoBlock {
    position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.userMainBlockUserInfoBlock span, .userName {
    //white-space: nowrap;

    font-size: 14px;
    letter-spacing: 0px;
    color: #fda3a2;
    font-family: "Verdana";
    word-break: break-word;

    cursor: pointer;

    display: block;

    overflow: hidden;

    min-width: 50px;
    //width: 100%;

    /*margin-right: 25px;*/
}
.userName {
    font-size: 11px;
}

.userMainBlockUserInfoBlock div.userTextContainer, .userMainBlockUserInfoBlock div.userTextContainerPlain {
    position: relative;

    display: flex;
    align-items: center;

    //height: 60px;

    & span {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        vertical-align: middle;
    }
    & .currency {
        display: block;
    }
}
.userMainBlockUserInfoBlock div.userTextContainerPlain {
    position: static;
}

.userMainBlockUserInfoBlock div.userTextContainer:after {
    position: absolute;
    top: 45%;
    right: 15px;

    content: '';

    display: block;

    border-top: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;

    width: 7px;
    height: 7px;

    transform: rotateZ(45deg);

    transition: transform 0.2s linear;
}

.userMainBlockUserInfoBlock div.userTextContainer.active:after {

    transform: rotateZ(135deg);
}

.userMainBlockUserInfoBlock div.userTextContainer.indicatorOff:after {
    display: none;
}

.userMainBlockUserInfoBlock span:nth-child(1) {
    margin-right: 32px;
}



@media screen and (max-width: 1435px) {
    .userMainBlock {
        margin-right: 10px;
        //display: none;
    }
    .userMainBlockBellIcon {
        width: 30px;
        height: 37px;

        margin-right: 15px;
    }
    .userMainBlockBellIconNotification {
        top: 0px;
        right: -5px;

        padding: 0px 1px;

        width: 13px;
        height: 13px;
    }
    .userMainBlockUserInfoBlock span:nth-child(1) {
        margin-right: 15px;
    }

    .userMainBlockUserInfoBlock span {
        font-size: 12px;
    }

    .userMainBlockUserInfoBlock div.userTextContainer:after {
        top: 45%;
        right: 3px;
    }
}

@media screen and (max-width: 1065px) {
    .userMainBlock {
        display: none;
    }
}

.hide {
    display: none;
}

