.burgerWrapper {
    display: none;
    width: 32px;
    height: 24px;

    margin-right: 11px;
}

.burgerWrapper img {
    width: 32px;
    height: 24px;
}

@media screen and (max-width: 1065px) {
    .burgerWrapper {
        margin-top: 2px;
        display: block;
        outline: none;
    }
}