.mainHeader{
    position: relative;
    height: 85px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #772300;
    background-image: url("/assets/img/mainLayoutImg/header_bg.jpg");

    z-index: 19;

    position: relative;
}

.tooltip {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.hamburger {
    margin-left: 30px;
    cursor: pointer;
}

.logo {
    width: 250px;
    height: auto;

    margin: 2px 16px 2px 16px;
}


@media screen and (max-width: 1690px) {
    .logo {
    }
}
@media screen and (max-width: 1525px) {
    .logo {
    }
}
@media screen and (max-width: 1455px) {
    .logo {
    }
}

@media screen and (max-width: 1325px) {
    .mainHeader{
        height: 53px;

    }
    .logo {
        width: 100px;
        height: auto;
    }
}
@media screen and (max-width: 1071px) {
    .logo {
    }
}
