.mainHeader{
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;

    z-index: 20;

    position: relative;
}

.logo {
    width: 132px;
    height: 71px;

    margin: 2px 0px 2px 100px;
}


@media screen and (max-width: 1690px) {
    .logo {
        margin: 2px 0px 2px 70px;
    }
}
@media screen and (max-width: 1525px) {
    .logo {
        margin: 2px 0px 2px 50px;
    }
}
@media screen and (max-width: 1455px) {
    .logo {
        margin: 2px 0px 2px 30px;
    }
}

@media screen and (max-width: 1325px) {
    .mainHeader{
        height: 63px;

    }
    .logo {
        width: 100px;
        height: 54px;
        margin: 2px 0px 2px 17px;
    }
}
@media screen and (max-width: 1071px) {
    .logo {
        margin: 2px 0px 2px 5px;
    }
}