.headerNavbar {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    max-width: 730px;
}

.headerNavbarList {
    display: flex;
    align-items: center;
    //justify-content: space-between;

    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;

}

.headerNavbarListItem > a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #fefefe;
    font-weight: bold;
    font-family: "Lithograph";
    text-transform: uppercase;

    position: relative;

    margin-right: 20px;

    cursor: pointer;
}

.termsConditionsLink {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headerNavbarListItem > a:after {
    display: block;

    content: '';

    position: absolute;

    height: 15px;

    top: 2px;
}
.headerNavbarListItem:nth-last-child(1) a:after{
    display: none;
}
.headerNavbarTerms {
    position: relative;
}
.termsConditionsPopup {
    display: none;

    position: absolute;

    top: 55px;
    left: -5px;

    background-color: #000000;

    list-style-type: none;

    margin: 0;
    padding: 15px;

    & .termsConditionsPopupItem {
        text-decoration: none;
        white-space: nowrap;
        font-size: 14px;
        letter-spacing: 0px;
        color: #ffffff;
        font-family: "Lithograph";

        margin-bottom: 15px;
        padding: 0;
    }
    & .termsConditionsPopupItem:hover {
        transform: scale(1.05);
        color: #fea0ae;
    }
}

.termsConditionsPopupActive {
    display: block;
}

@media screen and (max-width: 1770px) {
    .headerNavbarListItem a {

    }
    .headerNavbarListItem a:after {
        right: -10px;
    }
}


@media screen and (max-width: 1545px) {

    .headerNavbarListItem a:after{
        right: -6px;
    }
    .headerNavbarListItem a {
    }
}

@media screen and (max-width: 1455px) {
    .headerNavbar {
        margin-left: 10px;
    }
    .headerNavbarListItem a:after{
        right: -15px;
    }
    .headerNavbarList a {
        margin-left: 15px;
        font-size: 13px;
    }

}

@media screen and (max-width: 1325px) {
    .headerNavbarListItem a:after{
        top: 0px;
        right: -8px;
    }

    .headerNavbarListItem a {
        margin-left: 5px;
        font-size: 12px;
    }
}
@media screen and (max-width: 1180px) {
    .headerNavbarListItem a {
        font-size: 10px;
    }
}
@media screen and (max-width: 1140px) {

    .headerNavbarListItem a {
        margin-left: 0px;
    }
    .headerNavbarListItem a:after{
        top: -1px;
        right: -6px;
    }
}
@media screen and (max-width: 1065px) {
    .headerNavbarList {
        display: none;
    }
}
