.headerNavbar {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    max-width: 730px;
}

.headerNavbarList {
    display: flex;
    align-items: center;
    //justify-content: space-between;

    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;

}

.headerNavbarListItem a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #fea0ae;
    font-family: "Verdana";
    text-transform: uppercase;

    position: relative;

    margin-right: 20px;
}

.headerNavbarListItem a:after {
    display: block;

    content: '';
    border-left: 1px solid #fea0ae;

    position: absolute;

    height: 15px;

    top: 2px;
    right: -10px;
}
.headerNavbarListItem:nth-last-child(1) a:after{
    display: none;
}

@media screen and (max-width: 1770px) {
    .headerNavbarListItem a {
        font-size: 14px;

    }
    .headerNavbarListItem a:after {
        right: -10px;
    }
}


@media screen and (max-width: 1545px) {

    .headerNavbarListItem a:after{
        right: -6px;
    }
    .headerNavbarListItem a {
        font-size: 14px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1455px) {
    .headerNavbar {
        margin-left: 10px;
    }
    .headerNavbarListItem a:after{
        right: -15px;
    }
    .headerNavbarList a {
        margin-left: 15px;
        font-size: 13px;
    }

}

@media screen and (max-width: 1325px) {
    .headerNavbarListItem a:after{
        top: 0px;
        right: -8px;
    }

    .headerNavbarListItem a {
        margin-left: 5px;
        font-size: 12px;
    }
}
@media screen and (max-width: 1180px) {
    .headerNavbarListItem a {
        font-size: 10px;
    }
}
@media screen and (max-width: 1140px) {

    .headerNavbarListItem a {
        margin-left: 0px;
    }
    .headerNavbarListItem a:after{
        top: -1px;
        right: -6px;
    }
}
@media screen and (max-width: 1065px) {
    .headerNavbarList {
        display: none;
    }
}