.depositWidgetMainContainer {

  position: fixed;

  bottom: -200px;

  z-index: 12;

  display: flex;
  align-items: flex-end;

  //width: 653px;
  height: 70px;
  border-radius: 8px;
  background-color: #f7f8f9;

  left: 50%;
  margin-left: -327px;

  padding: 19px 7px 8px;

  //transform: translateY(140px);

  transition: transform 1s ease-in-out;
}
.moveRight {
  margin-left: -237px;
}

.showDepositWidget {
  transform: translateY(-223px);
}

.widgetCurrencyButton {
  width: 138px;
  height: 42px;
  border-radius: 8px;
  background-color: #f7f8f9;
  border: 1px solid #8b8b8b;

  margin-right: 7px;

  font-size: 14px;
  letter-spacing: 0px;
  color: #1e1f21;
  font-family: "Verdana";

  cursor: pointer;
}
.currencyButtonLabel {
  position: absolute;
  top: 0;
  left: 45px;

  font-size: 14px;
  letter-spacing: 0px;
  color: rgba(0,0,0, 0.5);
  font-family: "Verdana";
}

.amountInputWrapper{
  position: relative;
}

.widgetAmountInput {
  width: 138px;
  height: 42px;
  border-radius: 8px;
  background-color: #f7f8f9;
  border: 1px solid #8b8b8b;

  font-size: 14px;
  letter-spacing: 0px;
  color: #1e1f21;
  font-family: "Verdana";

  padding: 0 5px 0 5px;

  margin-right: 7px;
}
.widgetAmountInput::placeholder {
  font-size: 14px;
  letter-spacing: 0px;
  color: #1e1f21;
  font-family: "Verdana";
}

.widgetAmountInput::-webkit-outer-spin-button,
.widgetAmountInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.widgetAmountInput {
  -moz-appearance: textfield;
}
.widgetAmountInput::-webkit-inner-spin-button,
.widgetAmountInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.widgetAmountInput:focus {
  outline: none;
  border: 0.95px solid #ff0e0e;
}
.currencyLabel {
  position: absolute;

  top: 12px;
  left: 9px;

  font-size: 14px;
  letter-spacing: 0px;
  color: #1e1f21;
  font-family: "Verdana";
}
.amountInputLabel {
  position: absolute;

  top: -19px;
  left: 45px;

  font-size: 14px;
  letter-spacing: 0px;
  color: rgba(0,0,0, 0.5);
  font-family: "Verdana";
}

.paymentMethodMainBlock {
  position: relative;
}

.paymentMethodContainer {
  position: relative;

  margin-right: 7px;
}

.paymentMethodButton {
  width: 164px;
  height: 42px;
  border-radius: 8px;
  background-color: #f7f8f9;
  border: 1px solid #8b8b8b;

  text-align: left;

  font-size: 14px;
  letter-spacing: 0px;
  color: #1e1f21;
  font-family: "Verdana";

  cursor: pointer;
}

.paymentMethodLabel {
  position: absolute;

  top: 16px;
  right: 16px;

  transform: rotateZ(135deg);

  transition: transform 0.2s ease-in-out;

  cursor: pointer;

  & > div {
    width: 8px;
    height: 8px;

    border-top: 2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7;
  }
}

.paymentMethodsList {
  position: absolute;
  top: -260px;
  z-index: 2;

  background-color: #f7f8f9;

  border-radius: 8px 8px 0 0;

  width: 100%;

  list-style-type: none;

  padding: 0px;

  display: none;

  & .paymentMethodItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #a7a7a7;

    cursor: pointer;

    & p {
      margin-left: 10px;

      font-size: 14px;
      letter-spacing: 0px;
      color: #1e1f21;
      font-family: "Verdana", sans-serif, Arial;
    }
    & > div {
      display: flex;
      margin-right: 10px;
    }
  }
  & .paymentMethodItem:last-child {
    border-bottom: none;
  }
  & .paymentMethodItem:first-child {
    border-radius: 8px 8px 0 0;
  }
  & .paymentMethodItem:hover {
    background-color: #ffffff;
  }
}

.activePaymentsList {
  display: block;
}


.active {
  transform: rotateZ(315deg);
  top: 20px;
}

.chosenPaymentMetodButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  height: 42px;

  padding-right: 30px;
  padding-left: 10px;

  border-radius: 8px;
  background-color: #f7f8f9;
  border: 1px solid #8b8b8b;

  text-align: left;

  font-size: 14px;
  letter-spacing: 0px;
  color: #1e1f21;
  font-family: "Verdana";

  cursor: pointer;

  & .paymentCardIconBlock {
    display: flex;
  }
}


.playWithButton {
  width: 138px;
  height: 42px;
  border-radius: 8px;
  background-color: #e64b3b;

  border: none;

  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Verdana";

  margin-right: 14px;

  cursor: pointer;
}

.disabledButton {
  background-color: #757575;

  cursor: not-allowed;
}

.closeButton {
  width: 17px;
  height: 17px;

  align-self: center;

  position: relative;

  border: none;
  background-color: transparent;

  cursor: pointer;

  & span {
    display: block;

    height: 1px;

    width: 14px;

    background-color: #a7a7a7;

    position: absolute;
    top: 6px;
    left: 0;
  }

  & .closeOne {
    transform: rotateZ(45deg);
  }
  & .closeTwo {
    transform: rotateZ(-45deg);
  }
}

.errorMessageContainer {
  position: absolute;

  top: -115px;

  width: 100%;

  min-height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px;


  z-index: 1;
  & .errorMessageInnerWrapper {
    background-color: #ff0000;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;

    border-radius: 8px;
  }

  & .errorText {
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Verdana", Arial, sans-serif;
    word-break: break-word;
  }

  & .errorArrow {
    position: absolute;
    width: 20px;
    height: 20px;

    background-color: #ff0000;

    transform: rotateZ(45deg);

    bottom: -5px;
    z-index: 0;
  }

}
