.getStartedWithBlockWrapper {
  max-width: 1320px;

  margin: 0 auto;
  padding: 0 20px;

  & h2 {
    font-size: 48px;
    font-weight: normal;
    color: #ff0000;
    font-family: "Verdana";
    text-transform: uppercase;
  }
  & p {
    max-width: 1125px;

    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Verdana";
    white-space: pre-line;

    padding: 0 0 0 30px;
    margin: 0 0 65px 0;
  }
}



@media screen and (max-width: 600px) {
  .getStartedWithBlockWrapper {
    padding: 0 20px 0 15px;
    & h2 {
      font-size: 21px;
      margin-bottom: 30px;
      margin-top: 40px;
    }
    & p {
      font-size: 16px;

      padding: 0 0 0 0;
      margin: 0 0 40px 0;
    }
  }

}