.instructionsIconsWrapper {
  max-width: 1350px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0 auto;
}

.iconItemWrapper {
  display: flex;
  flex-direction: column;
  //justify-content: ;
}