.textContainerWrapper {
  width: 100%;

  background-color: rgba(0,0,0, 0.3);

  padding-top: 100px;
  padding-bottom: 70px;
}
.textContainerInnerBlock {
  max-width: 1300px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.textItemWrapper {

  max-width: 425px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



}


.textBlock {

  width: 100%;
  min-height: 530px;


  background-color: #ffffff;

  border-radius: 45px;
  border-top: 5px solid #c4c4c4;

  padding: 50px 46px 0 30px;

  & p {
    font-size: 19px;
    color: #6f6f6f;
    font-family: "Verdana";
    font-weight: normal;
    white-space: pre-line;
  }
}

@media screen and (max-width: 1350px) {
  .textContainerWrapper {
    padding-top: 15px;
    padding-bottom: 55px;
  }
  .textContainerInnerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    & .textItemWrapper {
      max-width: 570px;
    }

    & .textItemWrapper:last-child {
      .textBlock:last-child {
          margin-bottom: 0px;
      }
    }
  }
  .textBlock {
    margin-top: 50px;
    margin-bottom: 40px;
  }

}
@media screen and (max-width: 600px) {
  .textContainerInnerBlock {

    & .textItemWrapper {
      max-width: 370px;

      & .textBlock {
        & p {
          font-size: 18px;
          color: #7d7d7d;
        }
      }
    }
  }
}
