@import '../../colors.module';

.gamesMainContainer {
  padding: 15px 10px 15px 20px;
}


.gameItemContainer {
  display: flex;
  align-items: center;

  margin-bottom: 9px;
}

.gameImageContainer {

  position: relative;

  width: 110px;
  min-height: 65px;

  margin-right: 15px;

  flex-shrink: 0;

  & img {
    width: 100%;
  }
}

.gameInfoContainer {
  width: 100%;

  padding-bottom: 10px;

  & h3 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #772300;
    font-weight: 600;
    font-family: "Lithograph", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 9px 0;
  }

  & .gameButtonsContainer {
    background-color: #f2f6f9;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 70px;

    border: 5px solid #f9b14a;
    background-image: url("/assets/img/modals/gift_bg.jpg");

    & button {
      width: fit-content;

      padding: 10px;

      font-size: 14px;
      font-weight: 600;
      color: #772300;
      font-family: "Lithograph", Arial, sans-serif;
      text-transform: uppercase;
      background: rgb(255,195,84);
      background: linear-gradient(141deg, rgba(255,195,84,1) 0%, rgba(254,236,202,1) 100%);

      cursor: pointer;

      border: none;
      outline: none;

      border-radius: 10px;
    }
    & .playNowButton {
      margin-right: 10px;

      background-color: #e74b3c;
    }
    & .playFunButton {
      background-color: #838383;
    }
  }
}
