.jackpotWrapper {
width: 100%;

  background-color: #ffffff;
          //rgba(0,0,0,0.51);

  //margin-top: -46px;

  z-index: 100;
}
.jackpotHeader {
  display: flex;
  align-items: center;
  justify-content: center;


}