.mainBlockWrapper {
  width: 100%;
  height: 38.1vw;

  //overflow: hidden;
}

.welcomeBonusSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;


  background-image: url("/assets/img/homeImg/home_header_bckgr.webp");
  background-size: cover;
}

.welcomeBonusImg {

  margin-top: 20px;
  margin-left: 30px;
}

.welcomeBonusImg img {
  width: 53vw;
}

.slotsDancerWrapper {
  width: 100%;
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
}

.slotsDancer {
  display: flex;

  position: relative;

  left: 13vw;
  top: -22px;

}
.slotsMachineIng:after {
  content: '';
}
.slotMachineIng img{
  width: 34vw;
}

.dancingGirlImg {
  position: relative;

  left: 40px;
  top: -15px;
}
.dancingGirlImg img {
  width: 21vw;
}

@media screen and (max-width: 1900px) {
  .slotsDancer {
    top: -16px;

  }
}

@media screen and (max-width: 1570px) {
  .mainBlockWrapper {
    height: 40.9vw;
  }
  .slotMachineIng img{
    width: 36vw;
  }
  .dancingGirlImg {
    top: 22px;
  }
}

@media screen and (max-width: 1380px) {
  .mainBlockWrapper {
    height: 38.9vw;
  }
  .slotsDancer {
    top: -16px;

  }
  .slotMachineIng img{
    width: 34vw;
  }
  .dancingGirlImg {
    top: -8px;
  }
}

@media screen and (max-width: 1280px) {
  .mainBlockWrapper {
    height: 40.9vw;
  }
  .slotMachineIng img{
    width: 36vw;
  }
  .dancingGirlImg {
    top: 8px;
  }
}

@media screen and (max-width: 1065px) {
  .mainBlockWrapper {
    height: 158.9vw;

    overflow: hidden;
  }
  .welcomeBonusSection {
    background-image: url("/assets/img/homeImg/home_header_bckgr-mobile.jpg");
    background-size: 250%;
    background-position: 48% 30%;
    background-repeat: no-repeat;

    overflow: hidden;
  }
  .welcomeBonusImg{
    margin-top: 14px;
    margin-left: 0px;
  }
  .welcomeBonusImg img {
    width: 70vw;
  }

  .slotsDancer {
    flex-direction: column;
    top: -11px;
    left: 12px;
  }

  .slotMachineIng img{
    width: 80vw;
  }
  .dancingGirlImg {
    left: -20px;
    top: -155px;

  }
  .dancingGirlImg img {
    width: 82vw;
  }

}
@media screen and (max-width: 860px) {
  .mainBlockWrapper {
    height: 156.9vw;
  }
}
@media screen and (max-width: 780px) {
  .mainBlockWrapper {
    height: 191.9vw;
  }
  .welcomeBonusSection {
    background-size: 250%;
    background-position: 48% 30%;
  }

  .welcomeBonusImg{
    margin-top: 14px;
    margin-left: 0px;
  }
  .welcomeBonusImg img {
    width: 87vw;
  }

  .slotsDancer {
    flex-direction: column;
    top: -11px;
    left: 12px;
  }

  .slotMachineIng img{
    width: 104vw;
  }
  .dancingGirlImg {
    left: 75px;
    top: -102px;

  }
  .dancingGirlImg img {
    width: 82vw;
  }

}

@media screen and (max-width: 640px) {
  .mainBlockWrapper {
    height: 189.9vw;
  }
}
@media screen and (max-width: 570px) {
  .mainBlockWrapper {
    height: 187.9vw;
  }
}
@media screen and (max-width: 495px) {
  .mainBlockWrapper {
    height: 184.8vw;
  }
}