@import '../colors.module';

.newsMainWrapper {
  width: 100%;

  //margin-bottom: -18px;
}

.newsHeadingWrapper {
  padding-left: 54px;
  padding-right: 54px;
  .newsHeading {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0;
    padding-bottom: 0.25rem;
    justify-content: space-between;
    font-family: "Verdana"; // Neon

    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.38;

    .newsTitle {
      color: #ffffff;
      line-height: 1.38;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0px;
      font-family: "Lithograph";
      & img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}

.newsBackground {
  padding-bottom: 1px;
  width: 100%;
}
.backShow {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.errorMessage {
  margin: 70px auto 70px;

  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  font-family: "Neon", Arial, sans-serif;
}


.newsSliderWrapper {
  width: 100%;
  margin: 0 auto;

  position: relative;
  & > div:first-child {
    padding: 0;
    background-color: transparent;
  }
  .prevArr, .nextArr {
    opacity: 0;
  }
  &:hover .prevArr, &:hover .nextArr {
    opacity: 1;
    transition: opacity 200ms ease;
  }
}

.newsItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.newItemWrapper {
  height: 465px;

  background-color: #2163ab;

  position: relative;

  outline: 1px solid rgba(255,255,255,0.5);
  outline-offset: -5px;
  margin: 0 4px;
}


.newImage {
  width: 100%;
  height: 295px;

  overflow: hidden;

}

.newImage img {
  width: 100%;
  margin: 0 auto;
}

.newTextBlock {
  background-color: #2163ab;

  width: 100%;

  height: 165px;

  padding: 0 5px 5px 5px ;

  & > .frameTextBlock {
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  & > div > p {
    font-size: 13px;
    line-height: 14px;
    font-family: "Verdana";

    margin: 0;
  }
  & > div > .newMainText {
    color: #fdfdfe;
    margin-bottom: 15px;
  }
  & > div > .newDateText {
    color: #a4a4a4;
    align-self: flex-end;
  }
}

.controlPanel {
  width: 100%;
  height: 85px;

  display: flex;
  align-items: center;

  margin: 0px auto 0 auto;
}

.prevArr, .nextArr {
  background-color: rgba(0,0,0, 0.5) !important;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 46px 46px;

  cursor: pointer;

  position: absolute;
  z-index: 1;
  content: '';

  width: 46px;
  height: 100%;

  top: 0;
}
.prevArr {
  left: 0;
  background-image: url("/assets/img/gamesSlider/arrow-left.svg");
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem
}
.nextArr {
  right: 0;
  background-image: url("/assets/img/gamesSlider/arrow-right.svg");
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem
}

@media screen and (max-width: 1900px) {
  .newFrame {
    width: 97%;
    height: 100%;
    left: 1.6%;
    top: 1.5%;
  }
  //.controlPanel span {
  //  left: 0px;
  //}
}
@media screen and (max-width: 1330px) {
  .newsSliderWrapper {
    width: 890px;
  }
  .newItemWrapper {
    width: 215px;
    height: 365px;
  }

  .newImage {
    width: 100%;
    height: 199px;

    overflow: hidden;

  }

  .newFrame {
    width: 95.5%;
    height: 100%;
    left: 2.5%;
    top: 1.5%;
  }
  .newTextBlock {

    //bottom: 0;
    //left: 0;
    height: 165px;

    padding: 0 5px 5px 5px ;

    & > .frameTextBlock {
      padding: 10px;
    }
    & > div > p {
      font-size: 10px;
      margin: 0;
    }
    & > div > .newMainText {
      margin-bottom: 15px;
    }
    & > div > .newAddText {
    }
  }
  //.controlPanel span {
  //  left: 0px;
  //  top: 2px;
  //
  //  font-size: 14px;
  //
  //  width: 135px;
  //  height: 45px;
  //}

  //.prevArr, .nextArr {
  //  width: 45px;
  //  height: 45px;
  //
  //  top: 105.9%;
  //}
  //.prevArr {
  //  left: 44.5%;
  //}
  //.nextArr {
  //  right: 44.5%;
  //}
}
@media screen and (max-width: 1165px) {
  .newsSliderWrapper {
    width: 660px;
  }
  .newsHeading {
    margin-left: auto;
    margin-right: auto;
  }
  .newItemWrapper {
    height: 335px;
  }
  .newFrame {
    width: 95.1%;
    height: 100%;
    left: 2.5%;
    top: 1.5%;
  }
  .newTextBlock {
    height: 120px;
  }
  //.prevArr, .nextArr {
  //  width: 45px;
  //  height: 45px;
  //
  //  top: 106.5%;
  //}
  //.prevArr {
  //  left: 42.5%;
  //}
  //.nextArr {
  //  right: 42.5%;
  //}
}
@media screen and (max-width: 860px) {
  .newsSliderWrapper {
    width: 660px;
  }
  .newsHeadingWrapper {
    .newsHeading {
      width: 50%;

      .newsTitle {
        font-size: 1.5rem;
        & img {
          width: 50%;
        }
      }
    }
  }

  .prevArr, .nextArr {
    display: none;
  }
  //.prevArr {
  //  left: 42.5%;
  //}
  //.nextArr {
  //  right: 42.5%;
  //}
}
@media screen and (max-width: 660px) {
  .newsMainWrapper {
    width: 200%;

    position: relative;

    left: -50%;

    margin-bottom: -18px;
  }
  .newsBackground {
    padding-bottom: 0px;
  }
  .darkBackground {
    background-color: rgba(0,0,0,0);
  }

  .newsSliderWrapper {
    width: 660px;

    position: relative;
  }
  .newsSliderWrapper:before {
    content: '';
    display: block;
    width: 215px;
    height: 336px;

    background-color: $light-black-back;

    position: absolute;

    top: 9px;
    left: 4px;

    z-index: 1;
  }
  .newsSliderWrapper:after {
    content: '';
    display: block;
    width: 220px;
    height: 336px;

    background-color: $light-black-back;

    position: absolute;

    top: 9px;
    right: -3px;

    z-index: 1;
  }
  .controlPanel {
    background-color: $light-black-back;
    position: relative;
    margin: 20px auto 0 auto;
    left: 0;
    right: 0;
  }
  //.prevArr, .nextArr {
  //  top: 112.5%;
  //}
}
