@import '../colors.module';

.redeemInputWrapper {
  display: flex;
  margin: auto;
  justify-content: center;

  input, .input {
    background: #fff;
    color: #000;
    font-family: Verdana;
    text-transform: none;
    line-height: 34px;
    border-radius: 0;
    margin: 0;
    border: none;
    min-width: 196px;
    text-align: right;
    font-size: 16px;
    padding: 0 8px;
  }
  .input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}
.arrowUp {
  background: url("/assets/img/redeemPage/up-icon.svg") #FFC353;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 34px;
}
.arrowDown {
  background: url("/assets/img/redeemPage/down-icon.svg") #FFC353;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 524px) {
  .redeemInputWrapper {
  }
}
