@import '../colors.module';

.redeemMainWrapper {
  position: fixed;
  top: 0;
  left: 0;
  //right: 0;
  //bottom: 0;

  background-color: $black-back-modals;

  padding: 0 20px;

  width: 100vw;
  height: 100vh;

  z-index: 18;

  overflow-y: scroll;
}

.redeemMainContainer {
  max-width: 500px;
  min-width: 340px;
  background: url("/assets/img/redeemPage/redeem-bg.jpg");
  align-self: center;
  min-height: 500px;
  margin: 130px auto;
  //margin: 24px 30px 24px;
  display: flex;
  flex-direction: column;
}
.redeemNotificationContainer {
  max-width: 500px;
  min-width: 340px;
  background: url("/assets/img/redeemPage/notification-bg.jpg");
  align-self: center;
  min-height: 100px;
  margin: 130px auto;
  //margin: 24px 30px 24px;
  display: flex;
  flex-direction: column;

  .redeemNotificationHeading {
    background: #471500;
    height: 72px;
    position: relative;

    & .redeemHeading {
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 26px;
      line-height: 79px;
      font-weight: 600;
      color: #FFC353;
      font-family: "Lithograph";

    }
  }
  .redeemNotificationBody {
    flex: 1;
    text-align: center;
    color: #fff;
    padding: 10px 16px 16px;
    font-family: "Lithograph";
    text-transform: uppercase;
    position: relative;

    .redeemNotificationTitle1 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .redeemNotificationPoints {
      font-size: 34px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #FFC353;
    }
    .redeemNotificationFor {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 11px;
    }
    .redeemNotificationTitle2, .redeemNotificationTitle3 {
      font-size: 20px;
      font-weight: 600;
    }
    .redeemNotificationTitle3 {
      color: #FFC353;
    }
    .redeemError {
      font-size: 14px;
      font-weight: 600;
      margin-top: 11px;
      text-align: center;
    }
  }
}
.redeemCloseButton {
  position: absolute;
  top: 13px;
  right: 13px;

  cursor: pointer;

  width: 20px;
  height: 20px;
}
.marginNull {
  margin: 50px auto;
}
.redeemHeadingBlock {
  background: url("/assets/img/redeemPage/redeem-header-bg.jpg");
  background-repeat: repeat-x;
  height: 79px;
  position: relative;

  & .redeemBackButton {
    cursor: pointer;

    width: 20px;
    height: 20px;

    position: absolute;
    top: 20px;
    left: 18px;
    transform: rotateZ(-45deg);
  }
  & .redeemHeading {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    line-height: 79px;
    font-weight: 600;
    color: #481500;
    font-family: "Lithograph";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  & .redeemCloseButton {
    position: absolute;
    top: 30px;
  }
}
.redeemBody {
  flex: 1;
  text-align: center;
  color: white;
  padding: 63px 16px 35px;
  font-family: "Lithograph";
  text-transform: uppercase;

  .redeemTitle {
    font-size: 13px;
    margin-bottom: 17px;
  }
  .redeemTitle1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 22px;
  }
  .redeemTitle2 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #FFC353;
  }
  .redeemTitle3 {
    font-size: 16px;
    font-weight: 600;
  }
  .redeemTitle4 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .divider {
    width: 298px;
    border: 2px solid #C06313;
    margin: auto;
  }
  .redeemTitle5, .redeemTotalButtons {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
  }
  .redeemTotalButtons {
    margin-top: 0;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      color: #FFC353;
      //text-decoration: underline;
      cursor: pointer;
      margin: 0 8px;
      border-bottom: 2px solid #FFC353;
    }
  }
  .button {
    font-size: 24px;
    font-weight: 600;
    font-family: "Lithograph";
    text-transform: uppercase;
    color: #481500;
    line-height: 20px;
    padding: 10px 22px;
    background: linear-gradient(0deg, #FCDC8F, #FCDC8F), #FCDC8F;
    border: 6px solid #996533;
    border-top: 6px solid #FFFFCB;
    cursor: pointer;
  }

  .balanceList {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;

    & > div:last-child {
      right: 34px;
      top: 44px;
      min-width: 170px;

      & ul {
        min-width: 170px;
      }
    }
  }
}
.redeemFooter {
  background: url("/assets/img/redeemPage/redeem-footer-bg.jpg");
  background-repeat: repeat-x;
  height: 36px;
}
@media screen and (max-width: 524px) {
  .redeemMainWrapper {
    overflow: scroll;
  }
}
