.selectCurrencyMainWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0, 0.5);


  z-index: 10;
}
.selectCurrencyMainContainer {
  max-width: 700px;
  //min-width: 300px;

  margin: 24px auto 0;
  padding: 5px;

  background-color: #ffffff;

  border-radius: 10px;
}

.selectCurrencyHeadingBlock {
  border-radius: 10px 10px 0 0;

  background-color: #ff0e0e;
  position: relative;
  & .selectCurrencyBackButton {
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;

    width: 10px;
    height: 10px;

    position: absolute;
  }
  & .selectCurrencyHeading {
    margin: 0;
    text-align: center;
  }
}