@import '../colors.module';

.selectCurrencyMainWrapper {
  position: fixed;
  top: 0;
  left: 0;
  //right: 0;
  //bottom: 0;

  background-color: $black-back-modals;

  padding: 0 20px;

  width: 100vw;
  height: 100vh;

  z-index: 18;


  overflow-y: scroll;
}
.hidden {
  display: none;
}

.selectCurrencyMainContainer {
  max-width: 500px;
  min-width: 340px;

  align-self: center;

  margin: 130px auto;
  //margin: 24px 30px 24px;
  padding: 5px;

  background-color: #ffffff;

  border-radius: 10px;
}
.marginNull {
  margin: 50px auto;
}

.selectCurrencyHeadingBlock {
  border-radius: 10px 10px 0 0;

  background-color: $red-color;
  position: relative;
  & .selectCurrencyBackButton {
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;

    cursor: pointer;

    width: 20px;
    height: 20px;

    position: absolute;
    top: 20px;
    left: 18px;
    transform: rotateZ(-45deg);
  }
  & .selectCurrencyHeading {
    margin: 0;

    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Lithograph";

  }

  & .selectCurrencyCloseButton {
    position: absolute;
    top: 13px;
    right: 0px;

    cursor: pointer;

    width: 35px;
    height: 35px;


    & .closeOne, .closeTwo{
      display: block;

      position: relative;

      background-color: #ffffff;
      width: 26px;
      height: 2px;
    }
    & .closeOne {
      transform: rotateZ(-45deg);
      top: 15px;
    }
    & .closeTwo {
      transform: rotateZ(45deg);
      top: 13px;
    }
  }
}

.selectorCurrenciesWrapper {
  margin: 30px 20px 30px 20px;

  & .selectorCurrenciesHeading {
    font-size: 15px;
    color: #545454;
    font-family: "Segoe UI";

    margin: 0 0 10px 0;
  }

  & .selectorCurrenciesList {
    list-style-type: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;


    & .selectorCurrenciesListItem {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 72px;
      height: 40px;
      background-color: #f2f6f9;
      border: 1px solid #cad2d8;

      font-size: 15px;
      color: #777575;
      font-family: "Segoe UI";

      margin: 0 5px 5px 0;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    & .selectorCurrenciesListItem:hover {
      background-color: #ebf7fc;
      cursor: pointer;
    }
  }

}

@media screen and (max-width: 524px) {
  .selectCurrencyMainWrapper {
    overflow: scroll;
  }
}
