.interfaceWrapper {
  width: 39.4%;
  height: 37.8%;

  background-color: #ffffff;

  top: 43%;
  left: 8.3%;
  position: absolute;

  z-index: 2;
}

@media screen and (max-width: 1570px) {
  .interfaceWrapper {
    top: 45%;
    left: 9.3%;
  }
}
@media screen and (max-width: 1380px) {

  .interfaceWrapper {
    width: 39.4%;
    height: 36.8%;

    top: 44%;
    left: 8.3%;
  }
}

@media screen and (max-width: 1065px) {
  .interfaceWrapper {
    width: 64.4%;
    height: 20.8%;

    top: 21.5%;
    left: 10.3%;
  }
}
@media screen and (max-width: 780px) {
  .interfaceWrapper {
    width: 66.4%;
    height: 23.8%;

    top: 24%;
    left: 10.3%;
  }
}
@media screen and (max-width: 524px) {
  .interfaceWrapper {
    width: 66.4%;
    height: 22.8%;

    top: 24%;
    left: 10.3%;
  }
}