.inputsWrapper {
  width: 100%;
  height: 43%;

  padding: 3% 3% 2% 3%;

  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.sumInput {
  width: 68.6%;
  height: 74%;

  padding-left: 3%;

  background-color: #f1f1f1;
  border: 0.95px solid #ff0e0e;

  outline: none;

  font-size: 41px;
  line-height: 27px;
  color: #3a3a3a;
  font-family: "Source Sans";
}

.sumInput::-webkit-outer-spin-button,
.sumInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sumInputLabel {
  position: absolute;

  top: 12%;
  left: 7%;

  font-size: 41px;
  line-height: 27px;
  color: #3a3a3a;
  font-family: "Source Sans";
}

.currencyButton {
  //width: 20%;
  height: 46%;

  padding-right: 25px;
  padding-left: 5px;
  margin-top: 10px;

  border-radius: 5px;
  background-color: #f2f6f9;
  border: 0.88px solid #9fabba;

  position: relative;

  cursor: pointer;

  display: flex;
  align-items: center;
}

.currencyButton:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;

  position: absolute;

  top: 30%;
  right: 6%;

  border-right: 2px solid #ABADAD;
  border-bottom: 2px solid #ABADAD;

  transform: rotateZ(45deg);
}

.currencyButtonValue {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #4c4d4e;
  font-family: "Verdana";
}

.dividerUp,
.dividerDown {
  width: 87%;

  border-top: 2px solid #787a7b;
  border-radius: 5px;
  margin-left: 3%;
}

.dividerDown {
  border-top: 1px solid #787a7b;
}

.bonusInfoBlockWrapper {
  position: relative;

  margin-left: 16%;
  margin-top: 8%;

  padding-right: 13%;

  cursor: pointer;
}

.bonusInfoBlock {
  display: flex;
}

.bonusIconBlock {
  content: '';

  position: absolute;
  top: -52%;
  left: -16%;

  width: 14%;
  height: 110%;

  //background-image: url("/assets/icons/home/bonus_info_icon.svg");
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: contain;
  & img {
    width: 100%;
    //height: 100%;
  }
}

.noBonusIcon {
  //position: relative;

  top: -22%;
}

.bonusInfoBlock p,
.bonusInfoBlock span {
  font-size: 1em;
  line-height: 27px;
  color: #b2b1b1;
  font-family: "Verdana";
  white-space: nowrap;

  cursor: pointer;
}

.bonusInfoBlock p {
  margin: 0 5% 0 0;

  max-width: 180px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.bonusInfoBlock span {
  text-decoration: underline;

  font-style: italic;
}

.bonusInfoText {
  font-size: 14px;
  line-height: 27px;
  color: #a5a5a5;
  font-family: "Verdana";
  text-transform: uppercase;
  white-space: nowrap;

  margin: 2px 0 2px 0;

  position: relative;
  left: -15%;

  //background-color: #ff0e0e;

  //max-width: 300px;

  overflow: hidden;

  text-overflow: ellipsis;
}

// #################Switcher

.bonusSwitcher {
  position: absolute;

  top: 10%;
  right: 2%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 40px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "NO";
  height: 30px;
  width: 33px;
  left: 36px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  text-align: center;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: #ccc;
  font-family: "Verdana";
}

.bonusSwitcherInput:checked + .slider {
  background-color: #ff0e0e;
}

.bonusSwitcherInput:focus + .slider {
  box-shadow: 0 0 1px #ff0e0e;
}

.bonusSwitcherInput:checked + .slider:before {
  -webkit-transform: translateX(-32px);
  -ms-transform: translateX(-32px);
  transform: translateX(-32px);
  content: "YES";
  color: #ff0000;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// #################Switcher

.typePayments {
  margin-top: 2px;
  width: 100%;
  height: 16%;
  background-image: url("/assets/img/homeImg/type_payments.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bonusDropdownContainer {
  position: absolute;

  background-color: #ffffff;

  //bottom: -1000px;

  z-index: 3;

  max-height: 230px;

  overflow-y: auto;

  & .bonusDropItem {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;

    & .bonusIconWrapper {
      flex-shrink: 0;
      width: 30px;
      height: 30px;

      margin-right: 25px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .bonusInfoWrapper {
      & span {
        display: block;
        font-family: "Verdana";
        color: #9e9e9e;
      }
      & .bonusHeading {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #808080;
      }
      & .bonusDescription {
        font-size: 12px;
        color: #9e9e9e;
      }
    }
  }
  & .bonusDropItem:hover {
    background-color: #ececec;
    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
  }
}

.hideDropDown {
  display: none;
}


@media screen and (max-width: 1800px) {
  .currencyButton:after {
    top: 23%;
    right: 6%;
  }
  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 0.9em;
    line-height: 27px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }
  .bonusInfoBlock p {
    margin: 0 2% 0 0;

    max-width: 160px;
  }
  .bonusIconBlock {
    content: '';

    position: absolute;
    top: -52%;
    left: -16%;

    width: 14%;
    height: 110%;

    display: flex;
    align-items: center;
    justify-content: center;

    //background-image: url("/assets/icons/home/bonus_info_icon.svg");
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: contain;
    & img {
      width: 100%;
      //height: 100%;
    }
  }
  .noBonusIcon {
    //position: relative;

    top: -32%;
  }

  .bonusInfoText {
    font-size: 12px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1500px) {
  .sumInputLabel {

    top: 10%;
    left: 6%;

    font-size: 41px;
    line-height: 27px;

  }
  .currencyButton:after {
    top: 19%;
    right: 6%;
  }
  .currencyButtonValue {
    font-size: 14px;
    line-height: 23px;
  }
  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 0.7em;
    line-height: 23px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }
  .bonusInfoBlock p {
    margin: 0 2% 0 0;
  }
  .bonusInfoText {
    font-size: 10px;
    line-height: 24px;
  }
  .bonusSwitcher {
    position: absolute;

    top: 10%;
    right: 2%;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    height: 23px;
    width: 23px;
    left: 33px;
    bottom: 4px;

    font-size: 10px;
    line-height: 26px;
    color: #ccc;
    font-family: "Verdana";
  }

  .bonusSwitcherInput:checked + .slider {
    background-color: #ff0e0e;
  }

  .bonusSwitcherInput:focus + .slider {
    box-shadow: 0 0 1px #ff0e0e;
  }

  .bonusSwitcherInput:checked + .slider:before {
    -webkit-transform: translateX(-29px);
    -ms-transform: translateX(-29px);
    transform: translateX(-29px);
    content: "YES";
    color: #ff0000;
  }
}

@media screen and (max-width: 1380px) {
  .inputsWrapper {
    width: 100%;
    height: 35%;

    padding: 3% 3% 0% 3%;

  }
  .sumInput {
    font-size: 32px;
  }
  .sumInputLabel {

    top: 8%;
    left: 6%;

    font-size: 32px;
    line-height: 27px;
  }
  .currencyButton {
    //width: 20%;
    height: 54%;

    margin-top: 5px;
    padding-right: 20px;
  }
  .currencyButton:after {
    width: 9px;
    height: 9px;

    top: 17%;
    right: 6%;
  }
  .currencyButtonValue {
    font-size: 12px;
    line-height: 19px;
  }
  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 0.6em;
    line-height: 23px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }
  .bonusInfoBlock p {
    margin: 0 2% 0 0;

    max-width: 140px;
  }
  .bonusInfoText {
    font-size: 9px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1280px) {
  .inputsWrapper {
    width: 100%;
    height: 35%;

    padding: 3% 3% 0% 3%;

  }
  .sumInput {
    font-size: 32px;
  }
  .sumInputLabel {

    top: 8%;
    left: 6%;

    font-size: 32px;
    line-height: 27px;
  }
  .currencyButton {
    height: 60%;

    margin-top: 5px;
  }
  .currencyButton:after {
    width: 7px;
    height: 7px;

    top: 18%;
    right: 6%;
  }
  .currencyButtonValue {
    font-size: 12px;
    line-height: 19px;
  }
  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 0.6em;
    line-height: 23px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }
  .bonusInfoBlock p {
    margin: 0 5% 0 0;

    max-width: 100px;
  }
  .bonusInfoText {
    font-size: 8px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1065px) {
  .inputsWrapper {
    width: 100%;
    height: 35%;

    padding: 3% 3% 0% 3%;

  }
  .sumInput {
    font-size: 56px;
  }
  .sumInputLabel {

    top: 12%;
    left: 6%;

    font-size: 56px;
    line-height: 27px;
  }
  .currencyButton {
    //width: 20%;
    height: 60%;

    padding-right: 35px;
    margin-top: 5px;
  }
  .currencyButtonValue {
    font-size: 23px;
    line-height: 43px;
  }
  .currencyButton:after {
    width: 12px;
    height: 12px;
    top: 29%;
    right: 8%;
  }

  .noBonusIcon {
    //position: relative;

    top: -44%;
  }

  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 1.2em;
    line-height: 23px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }
  .bonusInfoBlock span {
    text-decoration: none;

    font-style: normal;
  }
  .bonusInfoBlock p {
    margin: 0 2% 0 0;

    max-width: 185px;
  }
  .bonusInfoText {
    font-size: 18px;
    line-height: 81px;
  }
  .dividerDown {
    display: none;
  }
  .bonusSwitcher {
    position: absolute;

    top: -11%;
    right: 13%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 115px;
    height: 60px;
  }
  .slider:before {
    position: absolute;
    content: "NO";
    height: 48px;
    width: 48px;
    left: 60px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    color: #ccc;
    font-family: "Verdana";
  }

  .bonusSwitcherInput:checked + .slider:before {
    -webkit-transform: translateX(-52px);
    -ms-transform: translateX(-52px);
    transform: translateX(-52px);
    content: "YES";
    color: #ff0000;
  }

}

@media screen and (max-width: 940px) {
  .sumInput {
    font-size: 41px;
  }
  .sumInputLabel {

    top: 12%;
    left: 6%;

    font-size: 41px;
    line-height: 27px;
  }
  .currencyButton {
    //width: 20%;
    height: 50%;

    padding-right: 25px;
    margin-top: 10px;
  }
  .currencyButtonValue {
    font-size: 17px;
    line-height: 36px;
  }
  .currencyButton:after {
    top: 20%;
  }
  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 1em;
    line-height: 23px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }
  .bonusInfoText {
    font-size: 14px;
    line-height: 56px;
  }

  .bonusSwitcher {
    position: absolute;

    top: -11%;
    right: 13%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
  }
  .slider:before {
    position: absolute;
    content: "NO";
    height: 34px;
    width: 34px;
    left: 40px;
    bottom: 3px;

    text-align: center;
    font-size: 16px;
    line-height: 37px;
  }

  .bonusSwitcherInput:checked + .slider:before {
    -webkit-transform: translateX(-35px);
    -ms-transform: translateX(-35px);
    transform: translateX(-35px);
    content: "YES";
    color: #ff0000;
  }
}

@media screen and (max-width: 810px) {
  .bonusInfoBlock p {
    margin: 0 2% 0 0;

    max-width: 165px;
  }
}

@media screen and (max-width: 780px) {
  .bonusInfoBlock p {
    margin: 0 2% 0 0;

    max-width: 190px;
  }
}

@media screen and (max-width: 640px) {
  .sumInput {
    font-size: 41px;
  }
  .sumInputLabel {

    top: 12%;
    left: 6%;

    font-size: 39px;
    line-height: 20px;
  }
  .currencyButtonValue {
    font-size: 17px;
    line-height: 36px;
  }
  .currencyButton:after {
    width: 10px;
    height: 10px;
    top: 22%;
  }
  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 1em;
    line-height: 23px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }

  .bonusInfoBlock p {
    margin: 0 1.5% 0 0;

    max-width: 160px;
  }

  .bonusInfoText {
    font-size: 14px;
    line-height: 40px;
  }

  .bonusSwitcher {
    position: absolute;

    top: -11%;
    right: 13%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  .slider:before {
    height: 25px;
    width: 25px;
    left: 33px;
    bottom: 3px;

    text-align: center;
    font-size: 12px;
    line-height: 28px;
  }

  .bonusSwitcherInput:checked + .slider:before {
    -webkit-transform: translateX(-29px);
    -ms-transform: translateX(-29px);
    transform: translateX(-29px);
    content: "YES";
    color: #ff0000;
  }
}

@media screen and (max-width: 520px) {
  .sumInput {
    font-size: 41px;
  }
  .sumInputLabel {

    top: 12%;
    left: 6%;

    font-size: 39px;
    line-height: 20px;
  }
  .currencyButtonValue {
    font-size: 17px;
    line-height: 30px;
  }
  .currencyButton {
    //width: 20%;
    height: 54%;

    margin-top: 10px;
    margin-right: 9px;
  }
  .currencyButton:after {
    top: 20%;
  }
  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 0.9em;
    line-height: 23px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }
  .bonusInfoText {
    font-size: 12px;
    line-height: 30px;
  }

  .bonusSwitcher {
    position: absolute;

    top: -11%;
    right: 5%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 26px;
  }
  .slider:before {
    height: 23px;
    width: 22px;
    left: 29px;
    bottom: 1px;

    text-align: center;
    font-size: 10px;
    line-height: 25px;
  }

  .bonusSwitcherInput:checked + .slider:before {
    -webkit-transform: translateX(-27px);
    -ms-transform: translateX(-27px);
    transform: translateX(-27px);
    content: "YES";
    color: #ff0000;
  }
}

@media screen and (max-width: 460px) {
  .sumInput {
    margin-left: 6px;
    margin-top: 4px;

    font-size: 32px;
    width: 59.6%;
    height: 78%;

    padding-left: 7%;

    background-color: #f1f1f1;
    border: 0.95px solid #ff0e0e;

    outline: none;

    font-size: 19px;
    line-height: 27px;
  }
  .sumInputLabel {

    top: 12%;
    left: 8%;

    font-size: 32px;
    line-height: 22px;
  }
  .currencyButton {
    height: 54%;

    margin-top: 10px;
    margin-right: 9px;
  }
  .currencyButtonValue {
    font-size: 13px;
    line-height: 20px;
  }
  .currencyButton:after {
    top: 20%;
  }

  .bonusInfoBlock {
    margin-left: 22px;
  }
  .bonusIconBlock {
    position: absolute;
    top: -32%;
    left: -15%;

    width: 19%;
    height: 80%;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .noBonusIcon {
    //position: relative;

    top: -22%;
  }

  .bonusInfoBlock p,
  .bonusInfoBlock span {
    font-size: 10px;
    line-height: 25px;
    color: #b2b1b1;
    font-family: "Verdana";
    white-space: nowrap;
  }

  .bonusInfoBlock p {
    margin: 0 2% 0 0;

    max-width: 120px;
  }

  .bonusInfoText {
    font-size: 10px;
    line-height: 28px;

    margin-top: 8px;
    margin-left: 28px;
  }

  .bonusSwitcher {
    position: absolute;

    top: -6%;
    right: 6%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 59px;
    height: 26px;
  }
  .slider:before {
    height: 23px;
    width: 22px;
    left: 34px;
    bottom: 1px;

    text-align: center;
    font-size: 10px;
    line-height: 25px;
  }

  .bonusSwitcherInput:checked + .slider:before {
    -webkit-transform: translateX(-31px);
    -ms-transform: translateX(-31px);
    transform: translateX(-31px);
    content: "YES";
    color: #ff0000;
  }

  .typePayments {
    margin-top: 0px;
    width: 97%;
    height: 10%;
  }
}

@media screen and (max-width: 430px) {
  .bonusSwitcher {
    position: absolute;

    top: -27%;
    right: 6%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 18px;
  }
  .slider:before {
    height: 15px;
    width: 15px;
    left: 22px;
    bottom: 1px;

    text-align: center;
    font-size: 7px;
    line-height: 14px;
  }

  .bonusSwitcherInput:checked + .slider:before {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    content: "YES";
    color: #ff0000;
  }

  .typePayments {
    display: none;
  }
}
