
.totalJackpotsMainWrapper {
  margin-top: 200px;

  position: relative;

}
.totalJackpotsWrapper {
  position: relative;

  z-index: 4;

  width: 100%;

  background-color: rgba(20, 75, 136, 0.5);

  padding-top: 57px;
  padding-bottom: 30px;
}
.totalJackpotsHeading {
  margin: 0 auto;

  width: 32%;
}

.totalMountHeading {
  font-size: 90px;
  letter-spacing: 2px;
  line-height: 58px;
  color: #ff2929;
  font-weight: bold;
  font-family: "Gobold";

  text-align: center;
}
.winnersInfoBlockWrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;

  width: 76%;

  margin: 0 auto;
}

.winnersBlockWrapper h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Franklin Gothic", sans-serif;

  text-transform: uppercase;
}

.winnersListWrapper {
  margin-left: 8px;

  & ul {
    width: 97%;

    //440
    height: inherit;
    //550
    list-style-type: none;

    background-color: rgba(0,0,0, 0.2);

    border-radius: 25px;

    padding: 25px;
    margin: 0;
  }
}

.winnersListItem {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  margin-bottom: 5px;

  width: 100%;
}

.winnersImageWrapper {
  width: 33.5%;
  //184
  //height: 5.5vw;
  //121

  border: 2px solid #47f9fd;

}

.winnersImageWrapper img {
  width: 100%;
  height: 100%;
}

.winnersTextblock {
  width: 150px;

  text-align: center;

  margin-left: 40px;
}

.winnersAmount {
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Lato Latin Sem Bd";

  margin: 0;
}

.winnersName {
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffa8a8;
  font-family: "Swiss721 LT", sans-serif;

  margin: 0;
}

.flamingo {
  position: absolute;

  width: 14.6%;
          //276px;

  height: 33.6%;
          //309px;

  background-image: url('/assets/img/totalJackpot/flamingo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  bottom: 0px;
  right: 0px;

  z-index: 5;

}
.moveFlamingo{
  position: absolute;

  width: 650px;

  height:405px;


  bottom: -95px;
  right: -482px;

  transform: rotateZ(200deg);

  background-image: url('/assets/img/totalJackpot/move_eff.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: 4
}

.leaf {
  position: absolute;

  width: 17.6%;
          //319px;
  height: 36.6%;
          //324px;

  background-image: url('/assets/img/totalJackpot/leaf.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  top: 80px;
  left: 120px;

  z-index: 5;
}

.moveLeaf {
  position: absolute;

  width: 650px;

  height:405px;


  top: 180px;
  left: -300px;

  background-image: url('/assets/img/totalJackpot/move_eff.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: 4
}

.cherry {
  position: absolute;

  width: 14.6%;
          //248px;
  height: 33.6%;
  //247px;

  background-image: url('/assets/img/totalJackpot/cherry.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  top: 120px;
  right: 215px;

  z-index: 5;
}
.moveCherry {
  position: absolute;


  width: 650px;

  height:405px;


  top: 135px;
  right: -215px;

  transform: rotateX(160deg) rotateZ(185deg);


  background-image: url('/assets/img/totalJackpot/move_eff.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: 4
}

.hidden {
  display: none;
}

@media screen and (max-width: 1700px) {
  .winnersBlockWrapper h1 {
    font-size: 25px;
  }
  .moveCherry {
    width: 650px;
    height:405px;

    top: 110px;
    right: -215px;
  }
  .moveLeaf {
    width: 650px;
    height:405px;

    top: 155px;
    left: -300px;
  }
  .moveFlamingo {
    width: 650px;
    height: 405px;

    bottom: -85px;
    right: -500px;
  }
}

@media screen and (max-width: 1600px) {
  .moveCherry {
    width: 580px;
    height:315px;

    top: 130px;
    right: -150px;
  }
  .moveLeaf {
    width: 580px;
    height:315px;

    top: 200px;
    left: -267px;
  }
  .moveFlamingo {
    width: 580px;
    height:315px;

    bottom: -45px;
    right: -400px;
  }
}

@media screen and (max-width: 1400px) {
  .winnersBlockWrapper h1 {
    font-size: 23px;
  }
  .moveCherry {
    width: 580px;
    height:315px;

    top: 140px;
    right: -180px;
  }
  .moveLeaf {
    width: 580px;
    height:315px;

    top: 165px;
    left: -270px;
  }
  .moveFlamingo {
    width: 580px;
    height:315px;

    bottom: -40px;
    right: -450px;
  }
  .totalMountHeading {
    font-size: 80px;
  }
}
@media screen and (max-width: 1300px) {
  .totalMountHeading {
    font-size: 70px;
  }
  .winnersBlockWrapper h1 {
    font-size: 20px;
  }
  .moveCherry {
    width: 530px;
    height:260px;

    top: 150px;
    right: -140px;
  }
  .moveLeaf {
    width: 530px;
    height:260px;

    top: 185px;
    left: -230px;
  }
  .moveFlamingo {
    width: 530px;
    height:260px;

    bottom: -50px;
    right: -390px;
  }
}
@media screen and (max-width: 1225px) {
  .totalJackpotsHeading {
    width: 42%;
  }
  .totalMountHeading {
    font-size: 50px;
  }
  .winnersBlockWrapper h1 {
    font-size: 20px;
  }
  .moveCherry,
  .moveLeaf,
  .moveFlamingo,
  .cherry,
  .flamingo,
  .leaf{
  display: none;
  }

}
@media screen and (max-width: 1165px) {
  .totalJackpotsHeading {
    width: 52%;
  }
  .winnersBlockWrapper h1 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .totalJackpotsHeading {
    width: 72%;
  }
  .totalMountHeading {
    font-size: 40px;
  }
  .winnersBlockWrapper h1 {
    display: none;
  }
}


