@import '../colors.module';

.whySlotsMainwrapper {
  width: 100%;

  padding: 162px 0 35px 0;
}
.backShow {
  background-image: url("/assets/img/whySlotsIdol/whySlotsIdol_back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headingWrapper {
  padding-left: 54px;
  padding-right: 54px;
  .heading {
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 0.5rem;
    letter-spacing: 0;
    padding-bottom: 0.25rem;
    justify-content: center;
    font-family: "Verdana"; // Neon

    font-size: 1rem;
    line-height: 1.38;

    .title {
      color: #ffffff;
      line-height: 1.38;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0px;
      font-family: "Lithograph";
      & img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
    .moreLink {
      color: #ffffff;
      display: inline-flex;
      align-items: center;
    }
  }
}

.whySlotsHeading {
  width: 25%;

  margin: 0 auto 115px auto;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.whySlotsItems {
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.whySlotsInnerItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 15px;

  & > div {

    //width: 100%;
            //293px;
    //height: 10%;
    //293px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }

  & > p {
    font-size: 23px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Verdana";
    text-align: center;

    width: 62%;
  }
}

.minuteBlock, .payoutsBlock {
  flex-direction: column-reverse;

  margin-top: 50px;
}

.whySlotsInfoblock {
  background-color: $light-black-back;

  width: 100%;
  padding: 40px 0;
  margin-top: 130px;
  & > h1 {
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Verdana";
    text-align: center;

    margin: 0 0 55px 0;
  }
  & > p {
    width: 933px;

    margin: 0 auto;

    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Verdana";
    text-align: center;
  }
}
@media screen and (max-width: 1300px) {
  .whySlotsMainwrapper {
    padding: 80px 0 35px 0;
  }
  .whySlotsHeading {
    width: 25%;

    margin: 0 auto 45px auto;

  }
  .whySlotsInnerItem {
    margin-right: 15px;
    & > p {
      font-size: 17px;

      width: 62%;
    }
  }
  .whySlotsInfoblock {
    background-color: $light-black-back;

    width: 100%;
    padding: 40px 0;
    margin-top: 60px;
    & > h1 {
      font-size: 30px;
      margin: 0 0 55px 0;
    }
    & > p {
      width: 933px;

      margin: 0 auto;

      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1165px) {
  .whySlotsMainwrapper {
    padding: 55px 0 35px 0;
  }
  .whySlotsHeading {
    width: 30%;

    margin: 0 auto 45px auto;

  }
  .whySlotsInnerItem {
    margin-right: 15px;
    & > p {
      font-size: 17px;

      width: 62%;
    }
  }
  .whySlotsInfoblock {
    background-color: $light-black-back;

    width: 100%;
    padding: 40px 0;
    margin-top: 60px;
    & > h1 {
      font-size: 30px;
      margin: 0 0 20px 0;
    }
    & > p {
      width: 933px;

      margin: 0 auto;

      font-size: 14px;
    }
  }
}

@media screen and (max-width: 940px) {
  .whySlotsMainwrapper {
    padding: 35px 0 35px 0;
  }
  .whySlotsHeading {
    width: 30%;

    margin: 0 auto 20px auto;

  }
  .whySlotsInnerItem {
    margin-right: 15px;
    & > p {
      font-size: 14px;

      width: 62%;
    }
  }
  .whySlotsInfoblock {
    background-color: $light-black-back;

    width: 100%;
    padding: 20px 0;
    margin-top: 60px;
    & > h1 {
      font-size: 25px;
      margin: 0 0 15px 0;
    }
    & > p {
      width: 630px;

      margin: 0 auto;

      font-size: 12px;
    }
  }
}
@media screen and (max-width: 820px) {
  .whySlotsMainwrapper {
    padding: 35px 0 35px 0;
  }
  .whySlotsHeading {
    width: 50%;

    margin: 0 auto 10px auto;

  }
  .whySlotsInnerItem {
    margin-right: 15px;
    & > p {
      font-size: 12px;

      width: 62%;
    }
  }
  .whySlotsItems {
    width: 90%;
    margin: -105px auto 0 auto;

    flex-wrap: wrap;
  }
  .minuteBlock, .payoutsBlock {
    flex-direction: column;

    margin-top: 0px;
  }
  .minuteBlock,
  .depositsBlock,
  .payoutsBlock,
  .licensedBlock  {
    width: 35%;
  }
  .minuteBlock {
    order: 0;
  }
  .depositsBlock {
    order: 1;
    margin-top: 220px;
  }
  .payoutsBlock {
    order: 2;
    margin-top: -220px;
  }
  .licensedBlock {
    order: 3;
  }

  .whySlotsInfoblock {
    background-color: $light-black-back;

    width: 100%;
    padding: 20px 0;
    margin-top: 60px;
    & > h1 {
      font-size: 20px;
      margin: 0 0 15px 0;
    }
    & > p {
      width: 360px;

      margin: 0 auto;

      font-size: 12px;
    }
  }
}
@media screen and (max-width: 428px) {
  .whySlotsItems {
    margin: -60px auto 0 auto;

  }
  .whySlotsInnerItem {
    margin-right: 15px;
    & > p {
      font-size: 12px;

      width: 62%;
      margin: 0;
      text-transform: uppercase;
    }
  }
  .depositsBlock {
    order: 1;
    margin-top: 110px;
    margin-bottom: 10px;
  }
  .payoutsBlock {
    order: 2;
    margin-top: -120px;
  }
  .whySlotsInfoblock {
    margin-top: 35px;
  }
}


