.sideGamesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 305px;
  flex-shrink: 0;

  padding: 14px;
}

.gameItemWrapper {

  width: 285px;

  background-color: #000000;

  margin-bottom: 10px;

  position: relative;

  & .gameImgBlock {
    width: 100%;
    padding: 0px;

    & img {
      width: 100%;
    }
  }

  & .gameNameBlock {
    font-size: 14px;
    color: #d9d9d9;
    font-family: "Verdana";
    text-transform: uppercase;
    text-align: center;
  }
}

.gameItemWrapper:hover  .hoverWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hoverWrapper {
  display: none;

  background-color: rgba(0,0,0,0.5);
  border: 1px solid #00e3ff;

  position: absolute;
  z-index: 2;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.playButton, .playForFunButton {
  width: 55%;
  height: 20%;

  margin: 0 auto 5px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  & > span {
    font-size: 17px;
    letter-spacing: 0px;
    //line-height: 48px;
    color: #1e2127;
    text-transform: uppercase;
  }
}
.playButton {
  background-color: #00e3ff;
}
.playForFunButton {
  background-color: #15171b;
  border: 1px solid #909091;
  & > span {
    color: #ffffff;
  }
}

@media screen and (max-width: 800px) {
  .sideGamesWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    width: 100%;
    flex-shrink: 0;

    padding: 14px;
  }

  .gameItemWrapper {

    width: 205px;

    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;


    & .gameImgBlock {
      width: 100%;
      padding: 0px;

      & img {
        width: 100%;
      }
    }

    & .gameNameBlock {
      font-size: 12px;
      color: #d9d9d9;
      font-family: "Verdana";
      text-transform: uppercase;
      text-align: center;
    }
  }
  .playButton, .playForFunButton {
    width: 55%;
    height: 20%;

    margin: 0 auto 5px auto;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    & > span {
      font-size: 12px;
      letter-spacing: 0px;
      //line-height: 48px;
      color: #1e2127;
      text-transform: uppercase;
    }
  }
  .playForFunButton {
    & > span {
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 570px) {
  .sideGamesWrapper {
    display: none;
  }
}
