.faqSection {
  width: 100%;

  background-color: #ffffff;

  margin-top: 110px;
  padding: 0 20px;
}
.faqInnerWrapper {
  margin: 0 auto;

  max-width: 830px;
}

.faqHeading {
  font-size: 30px;
  letter-spacing: 1px;
  color: #ff0000;
  font-family: "Verdana";

  margin: 0;

  position: relative;
  top: -56px;
}

.faqItemsList {
  list-style-type: none;


  margin: 0;
  padding: 0;
}

.faqItem {
  border-bottom: 1px solid #ff0e0e;
}
.faqItem:last-child {
  border-bottom: none;
}

.faqItemMainBlock {
  display: flex;
  align-items: flex-start;

  position: relative;

  & img {
    width: 43px;
    height: 43px;

    margin-right: 20px;
    margin-top: 10px;

  }

  &:after {
    content: '';

    width: 10px;
    height: 10px;

    position: absolute;
    top: 25px;
    right: 20px;

    border-right: 1px solid #848282;
    border-bottom: 1px solid #848282;

    transform: rotateZ(-45deg);
    transition: transform 0.2s ease-in-out;
  }
  &.active:after {
    transform: rotateZ(45deg);
  }
}

.faqItemMainBlockWrapper {
  flex: 1;
}

.faqItemMainBlockHeadingWrapper {
  cursor: pointer;

}

.faqItemMainBlockHeading {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;

  user-select: none;
}

.innerInfoList {
  font-size: 0px;

  list-style-type: none;

  margin: 0;
  padding: 0;

  //transition: font-size 0.2s ease-in-out;

  width: 95%;

  position: relative;
  left: -50px;

  overflow: hidden;

  & li {
    margin-left: 20px;
    height: 0px;
  }

}
.activeInnerInfoList {
  font-size: 14px;
  & li {
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .faqItemMainBlockHeading {
    font-size: 18px;

    color: #ff0e0e;
  }
}
