@import '../colors.module';

.faqItemInnerInfo {

}
.faqItemInnerInfoHeading{
  color: #A93618;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: relative;

  user-select: none;

  margin: 0 0 15px 0;

  &:hover {
    cursor: pointer;
  }


  &.showMenuPoints:before {
    content: '';

    position: absolute;
    top: 6px;
    left: -15px;

    width: 5px;
    height: 5px;

    border-right: 1px solid #848282;
    border-bottom: 1px solid #848282;


    transition: transform 0.2s ease-in-out;
    transform: rotateZ(-45deg);
  }
  &.menuActive:before {
    transform: rotateZ(45deg);
  }
}


.itemInnerInfoText{
  font-size: 0;
  color: #7E7E7E;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: font-size 0.2s ease-in-out;
}
.activeText {
}

@media screen and (max-width: 500px) {
  .faqItemInnerInfoHeading {
  }
}
