@import '../colors.module';

.informationBlockWrapper {
  width: 100%;
  min-height: 195px;
  background-color: rgba(0, 0, 0, 0.3);

  padding: 13px;

  margin-top: 30px;
}

.informationBlockFrame {
  border: 1px solid #66686d;

  width: 100%;
  min-height: 100%;

  padding: 20px;
}

.informationHeading {
  font-size: 16px;
  color: $red-color;
  font-family: "Verdana";
  text-transform: uppercase;

  margin: 0 0 45px 0;
}

.informationText {
  font-size: 16px;
  color: #ffffff;
  font-family: "Verdana";

  max-width: 1150px;
}

@media screen and (max-width: 665px) {
  .informationBlockMainWrapper {
    padding: 0 20px;
  }
}