.mainSectionWrapper {
  background-image: url(/assets/img/homeImg/home_header_bckgr.jpg);
  min-height: 424px;
  position: relative;
}

.mainItemsWrapper {
  background-image: url("/assets/img/aboutUs/about-us-banner.svg");
  background-repeat: no-repeat;
  background-position: 7% bottom;
  background-size: 16vw;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //max-width: 1300px;
  //margin: 0 auto;
  //position: relative;

  &:before {
    content: ' ';
    background-image: url("/assets/img/contactUs/banner-left.webp");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 14vw;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &:after {
    content: ' ';
    background-image: url("/assets/img/contactUs/banner-right.webp");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 19vw;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

}

.aboutItems {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutInnerItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;

  &:nth-child(odd) {
    justify-content: flex-start;
  }

  &:nth-child(even) {
    justify-content: flex-end;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.4vw;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Lithograph";
    text-align: center;

    width: 12vw;
    height: 12vw;
    margin: 9px;
    padding: 30px;

    background-image: url("/assets/img/aboutUs/about-us-banner-item.svg");
    background-repeat: no-repeat;
    background-size: contain;

    .smallSpan {
      font-size: 0.8vw;
    }
  }
}


@media screen and (max-width: 1200px) {
  //.providerImg, .gamesImg, .flexibleSystemImg, .instantCashoutsImg {
  //  width: 19%;
  //}
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 30px;
    line-height: 27px;

    width: 60%;
  }
  .smallSpan {
    font-size: 14px;
  }
}

@media screen and (max-width: 1110px) {
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 27px;
    line-height: 27px;

    width: 60%;
  }
  .instantCashoutsImg p {
    width: 70%;
  }
  .smallSpan {
    font-size: 14px;
  }
}

@media screen and (max-width: 980px) {
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 26px;
    line-height: 26px;

    width: 70%;
  }
  .gamesImg p {
    width: 60%;
  }
  .smallSpan {
    font-size: 14px;
  }
  .arrProvider, .arrGames, .arrFlexible {
    width: 20%;
    //261px;
    height: 50px;
  }
  .arrProvider {
    top: 24%;
    //-10px;
    left: 19%;
    //-170px;
  }
  .arrGames {
    top: 62%;
    left: 43%;
  }
  .arrFlexible {
    top: 25%;
    left: 66%;
  }
}

@media screen and (max-width: 850px) {
  .mainItemsWrapper {
    flex-wrap: wrap;

    padding-top: 2%;
  }
  .providerImg, .gamesImg, .flexibleSystemImg, .instantCashoutsImg {
    width: 30%;
    //273px;
    height: 269px;

    margin-right: 2%;
  }
  .providerImg {
    margin-right: 14%;

  }
  .gamesImg {
    margin-top: 0px;
    margin-right: 10%;
  }
  .instantCashoutsImg {
    margin-top: 0px;

    margin-left: 10%;
  }
  .flexibleSystemImg {
    margin-bottom: 0px;
    margin-right: 14%;
    margin-left: 10%;
  }

  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 32px;
    line-height: 32px;

    width: 70%;
  }
  .smallSpan {
    font-size: 14px;
  }
  .arrProvider, .arrGames, .arrFlexible {
    width: 27%;
    //261px;
    height: 65px;
  }
  .arrProvider {
    top: 3%;
    //-10px;
    left: 30%;
    //-170px;
  }
  .arrGames {
    top: 41%;
    left: 31%;

    transform: rotateZ(160deg);
  }
  .arrFlexible {
    top: 60%;
    left: 40%;
    transform: rotateZ(-12deg);
  }
}

@media screen and (max-width: 740px) {
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 28px;
    line-height: 28px;

    width: 70%;
  }
}

@media screen and (max-width: 630px) {
  .providerImg, .gamesImg, .flexibleSystemImg, .instantCashoutsImg {
    width: 32%;
    //273px;
    height: 269px;
  }
  .providerImg, .gamesImg {
    width: 30%;
  }
  .providerImg {
    width: 31%;
  }
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 25px;
    line-height: 25px;
    width: 70%;
  }
  .smallSpan {
    font-size: 15px;
  }
}
@media screen and (max-width: 520px) {
  .mainSectionWrapper {

    min-height: 380px;
  }
  .providerImg, .gamesImg, .flexibleSystemImg, .instantCashoutsImg {
    width: 36%;
    //273px;
    height: 180px;
  }
  .flexibleSystemImg {
    margin-bottom: 0px;
    margin-right: 10%;
    margin-left: 10%;
  }
  .instantCashoutsImg {
    margin-top: 0px;

    margin-left: 0%;
  }
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 20px;
    line-height: 20px;
    width: 55%;

    word-wrap: normal;
  }
  .smallSpan {
    font-size: 12px;
  }
  .arrProvider, .arrGames, .arrFlexible {
    width: 27%;
    //261px;
    height: 40px;
  }
  .arrProvider {
    top: 3%;
    //-10px;
    left: 30%;
    //-170px;
  }
  .arrGames {
    top: 41%;
    left: 31%;

    transform: rotateZ(160deg);
  }
  .arrFlexible {
    top: 53%;
    left: 38%;
    transform: rotateZ(-12deg);
  }
}
@media screen and (max-width: 450px) {
  .mainSectionWrapper {

    background-image: url("/assets/img/aboutUs/aboutUsMainBack_mobile.jpg");
    height: 320px;
  }
  .providerImg, .gamesImg, .flexibleSystemImg, .instantCashoutsImg {
    width: 36%;
    //273px;
    height: 180px;
  }
  .flexibleSystemImg {
    margin-bottom: 0px;
    margin-right: 10%;
    margin-left: 10%;
  }
  .instantCashoutsImg {
    margin-top: 0px;

    margin-left: 0%;
  }
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 24px;
    line-height: 21px;
    width: 77%;

  }
  .smallSpan {
    font-size: 10px;
  }
  .arrProvider, .arrGames, .arrFlexible {
    width: 27%;
    //261px;
    height: 40px;
  }
  .arrProvider {
    top: 3%;
    //-10px;
    left: 30%;
    //-170px;
  }
  .arrGames {
    top: 41%;
    left: 31%;

    transform: rotateZ(160deg);
  }
  .arrFlexible {
    top: 53%;
    left: 38%;
    transform: rotateZ(-12deg);
  }
}
@media screen and (max-width: 400px) {
  .providerImg, .gamesImg, .flexibleSystemImg, .instantCashoutsImg {
    width: 33%;

  }
  .providerImg p, .gamesImg p, .flexibleSystemImg p, .instantCashoutsImg p, .bigSpan {
    font-size: 19px;
    line-height: 16px;
    width: 77%;

  }
  .smallSpan {
    font-size: 8px;
  }
}
