.twoFaAuthWrapper {

  position: fixed;

  top: 0;
  left: 0;

  z-index: 18;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  overflow-y: auto;
}

.innerWrapper {
  max-width: 600px;
  margin: 170px auto 40px;

  padding: 0 50px;
}

.mainContainer {
  background-color: #ffffff;

  max-width: 500px;
  width: 100%;

  border-radius: 15px;
  border: 3px solid #ffffff;

  padding-bottom: 27px;

}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 58px;
  border-radius: 10px 10px 0 0;
  background-color: #ff0000;

  & h3 {
    margin: 0 5px 0 33px;

    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    text-align: center;

    width: 100%;
  }

  & .closeButton {
    flex-shrink: 0;

    width: 21px;
    height: 21px;

    margin-right: 12px;

    border: none;

    position: relative;

    background-color: transparent;
    cursor: pointer;

    & span {
      display: block;

      width: 26px;
      height: 2px;

      background-color: #ffffff;

      position: absolute;

      left: 0;
    }

    .closeOne {
      transform: rotateZ(45deg);
    }

    .closeTwo {
      transform: rotateZ(-45deg);
    }
  }
}

.changeWindowButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    font-size: 15px;
    line-height: 26px;
    color: #ff0000;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;

    border: none;
    outline: none;

    background-color: transparent;

    margin: 25px auto 0;

    width: fit-content;

    cursor: pointer;
  }
}

.inputsBlock {
  display: flex;
  align-items: center;
  flex-direction: column;

  & .instructionsText {
    font-size: 18px;
    line-height: 22px;
    color: #707070;
    font-family: "Segoe UI", Arial, sans-serif;

    margin: 20px 0;
  }

  & .errorMessage {
    font-size: 14px;
    line-height: 22px;
    color: #ff0000;
    font-family: "Segoe UI", Arial, sans-serif;

    margin: 0;
  }
}

.backupCodeInputContainer {
  width: 100%;

  padding: 0 20px;

  & form {
    width: 100%;

    & .backupCodeInput {
      width: 100%;
      height: 55px;

      background-color: #f2f6f9;

      border: 1px solid #b5b7b8;
      border-radius: 7px;

      outline: none;

      font-size: 30px;
      line-height: 26px;
      color: #707070;
      font-family: "Segoe UI", Arial, sans-serif;
      text-align: center;

      padding: 0 5px 0 5px;
    }

    & .backupCodeInput.errorField {
      border: 1px solid #ff0000;
      background-color: rgba(255, 0, 0, 0.1);
      color: #ff0000;
    }
  }

}

.twoFaCodeInputsContainer {
  width: 100%;

  padding: 0 20px;

  & form {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    & .twoFaCodeInputs {
      //width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      flex-wrap: nowrap;

      & input {
        width: 55px;
        height: 55px;

        background-color: #f2f6f9;

        border: 1px solid #b5b7b8;
        border-radius: 7px;

        outline: none;

        font-size: 30px;
        line-height: 26px;
        color: #707070;
        font-family: "Segoe UI", Arial, sans-serif;
        text-align: center;
        -moz-appearance: textfield;

        margin: 0 5px;


      }

      & input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {

        -webkit-appearance: none;
        margin: 0;
      }
    }

    & .twoFaCodeInputs.errorBlockInput {
      & input {
        border: 1px solid #ff0000;
        background-color: rgba(255, 0, 0, 0.1);
        color: #ff0000;
      }
    }
  }
}

.loadingWrapper {
  margin-top: 30px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}