.forgotPasswordWrapper {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 18;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  overflow-y: auto;
}

.mainContainer {
  max-width: 430px;

  margin: 170px auto 40px;

  padding: 0 50px;
}

.instructionsBlock {
  background-color: #ffffff;

  width: 100%;

  border-radius: 15px;
  border: 3px solid #ffffff;

  padding-bottom: 27px;
  margin-bottom: 24px;
}

.blockHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 58px;
  border-radius: 10px 10px 0 0;
  background-color: #ff0000;

  & .heading {
    margin: 0 5px 0 5px;

    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  & .backButton {
    flex-shrink: 0;

    width: 18px;
    height: 18px;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: none;
    border-bottom: none;
    background-color: transparent;

    transform: rotateZ(-45deg);

    margin-left: 20px;

    cursor: pointer;
  }

  & .closeButton {
    width: 21px;
    height: 21px;

    margin-right: 12px;

    border: none;

    position: relative;

    background-color: transparent;
    cursor: pointer;

    & span {
      display: block;

      width: 26px;
      height: 2px;

      background-color: #ffffff;

      position: absolute;

      left: 0;
    }

    .closeOne {
      transform: rotateZ(45deg);
    }

    .closeTwo {
      transform: rotateZ(-45deg);
    }
  }
}

.innerContainer {
  padding: 20px 15px 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.resendContainer {
  margin: 20px 0;
}

.instructionsText, .supportText {
  font-size: 16px;
  line-height: 22px;
  color: #707070;
  font-family: "Segoe UI", Arial, sans-serif;

  margin: 0;
}

.instructionsText {
  margin-bottom: 40px;
  text-indent: 15px;
}

.supportText {
  margin-bottom: 17px;
}

.supportLink {
  color: #47b14c;

  cursor: pointer;
}

.emailInputField {
  position: relative;
  max-width: 282px;
  width: 100%;
  flex-shrink: 0;

  & input {
    max-width: 282px;
    width: 100%;
    flex-shrink: 0;
    height: 48px;
    background-color: #f2f6f9;
    border: 1px solid #b5b7b8;

    outline: none;

    font-size: 15px;
    line-height: 26px;
    color: #707070;
    font-family: "Segoe UI", Arial, sans-serif;
    //text-align: center;

    padding: 0 5px 0 5px;
  }

  & input.errorField {
    border: 1px solid #ff0000;
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
  }

}

.emailLabel {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #707070;
  font-family: Arial, sans-serif;

  position: absolute;

  top: 12px;
  left: 7px;
  transform: translateY(0px) translateX(0px) scale(1);
  transition: transform 0.2s ease-in-out;
}

.errorEmailLabel {
  color: #ff0000;
}
.moveLabel {
  font-weight: 600;
  transform: translateY(-15px) translateX(-10px) scale(0.7);
  transition: transform 0.2s ease-in-out;
}

.emailError {
  font-size: 11px;
  line-height: 10px;
  color: #ff0000;
  font-family: "Segoe UI", Arial, sans-serif;
}



.resendButton {
  font-size: 15px;
  line-height: 26px;
  color: #ff0000;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;

  border: none;
  outline: none;

  background-color: transparent;

  margin: 25px auto 0;

  width: fit-content;

  cursor: pointer;
}

.resetPasswordButton {
  width: 100%;
  min-height: 56px;
  border-radius: 15px;
  background-color: #ff0000;
  border: 3px solid #ffffff;

  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}

.confirmedBlock {
  display: flex;
  align-items: center;
  flex-direction: column;

  & img {
    width: 120px;
    height: 120px;

    margin-bottom: 35px;
    margin-top: 35px;
  }

  & p {
    font-size: 16px;
    line-height: 24px;
    color: #949494;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
  }
}