
.textListHeading {
  margin-left: 15px;

  font-size: 15px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;

  padding: 0 10px 0 0;
}

.secondListTextBlock {
  font-size: 15px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;

  padding: 0 10px 0 0;
}

.secondTextBlock {
  padding-bottom: 46px;
}

.textList {
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0 5px;

  font-size: 15px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;

  & li {
    //display: flex;
    //align-items: center;
    padding-left: 10px;

    position: relative;

    & span {
      font-weight: 600;

      cursor: pointer;
    }

    & .innerTextList {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      & li:before {
        top: 7px!important;
      }


    }
    & .innerTextList.hideTextList {
      display: none;
    }
  }

  & li:before {
    content: '';
    display: block;

    position: absolute;
    left: -5px;
    top: 15px;

    flex-shrink: 0;

    margin-right: 5px;

    width: 5px;
    height: 5px;

    border-radius: 50%;
    border: 2px solid #ff0000;
  }

  & li.upIndicator:before {
    //top: 6.5%;
  }
}


.uploadDocumentsContainer {
  margin-bottom: 24px;
}

.uploadDocumentHeading {
  font-size: 16px;
  color: #595656;
  font-family: "Verdana", Arial, sans-serif;
}

.chooseFileBlock {
  display: flex;
  align-items: center;

  margin-bottom: 30px;

  & label {
    display: block;

    font-size: 15px;
    color: #595656;
    font-family: "Verdana", Arial, sans-serif;

    width: 140px;
  }

  & label.chooseFileFakeInput {
    width: 229px;
    min-height: 34px;
    border-radius: 5px;
    background-color: #eeeeee;
    border: 0.88px solid #8a8a8a;

    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    & .labelText {
      font-size: 15px;
      letter-spacing: 0px;
      color: #595656;
      font-family: "Verdana", Arial, sans-serif;
      text-transform: uppercase;
    }

    & span.chosenFileName {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #595656;
      font-family: "Verdana", Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
    }
  }



  & input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}

.descriptionContainer {
  display: flex;
  align-items: flex-start;

  margin-bottom: 30px;

  position: relative;

  z-index: 2;

  & label {
    display: block;

    font-size: 15px;
    color: #595656;
    font-family: "Verdana", Arial, sans-serif;

    width: 140px;
  }

  & textarea {
    max-width: 402px;
    width: 100%;
    height: 144px;
    border-radius: 5px;
    background-color: #eeeeee;
    border: 1px solid #686565;

    z-index: 2;
  }
}

.divider {
  position: absolute;
  top: 80px;

  width: 100%;
  height: 1px;

  z-index: 1;

  background-color: #e1e1e1;
}

.submitButton {
  width: fit-content;
  height: 34px;

  border: none;
  border-radius: 17px;

  outline: none;

  background-color: #ff0000;

  padding: 0 10px;


  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Verdana", Arial, sans-serif;

  margin-left: 140px;
  margin-bottom: 60px;

  cursor: pointer;
}


.uploadedDocumentsContainerWrapper {
  padding: 30px 0;

  border-top: 1px dotted #9e9e9e;
  border-bottom: 1px dotted #9e9e9e;
}


.uploadedDocumentsContainer {
  border: 1px solid #9e9e9e;

  & .documentItemWrapper:nth-child(odd) {
    background-color: #efeff4;
  }
  & .documentItemWrapper:nth-child(even) {
    background-color: #e0e0e0;
  }
}

.documentItemWrapper {
  display: grid;
  grid-template-columns: 1.5fr 4fr 1fr;

  padding: 20px 15px;

  min-width: 420px;

  & .documentNameContainer {

    & p {
      font-size: 15px;
      color: #595656;
      font-family: "Verdana", Arial, sans-serif;

      margin: 0;
    }
  }

  & .documentChangingContainer {

    background-color: inherit;

    & .documentDescriptionContainer {

      max-height: 300px;

      -webkit-transition:max-height 0.4s ease-in-out;
      -moz-transition:max-height 0.4s ease-in-out;
      transition:max-height 0.4s ease-in-out;

      overflow: hidden;

      z-index: 1;

      position: relative;

      & .descriptionTime {
        margin: 0;

        font-size: 13px;
        color: #595656;
        font-family: "Verdana", Arial, sans-serif;
      }

      & .descriptionText {
        transition: visibility 0.2s ease-in-out;

        margin-top: 30px;
        margin-bottom: 0px;

        font-size: 15px;
        color: #313131;
        font-family: "Verdana", Arial, sans-serif;
      }
      & .editDescriptionButton {
        transition: visibility 0.2s ease-in-out;

        width: fit-content;
        //height: 34px;

        border: none;

        background-color: transparent;

        border-bottom: 1px solid transparent;


        margin-left: 15px;
        margin-right: 10px;


        font-size: 15px;
        letter-spacing: 0px;
        color: #ff9900;
        font-family: "Verdana", Arial, sans-serif;

        cursor: pointer;

        position: relative;
      }

      & .editDescriptionButton:hover {
        border-bottom: 1px solid #ff9900;
      }

      & .editDescriptionButton:before {
        transition: visibility 0.2s ease-in-out;

        position: absolute;
        top: 2px;
        left: -14px;

        width: 15px;
        height: 15px;

        content: '';

        display: block;

        background-image: url("/assets/img/myAccount/edit.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      & .removeFileButton {
        transition: visibility 0.2s ease-in-out;

        width: fit-content;

        margin-left: 12px;

        border: none;

        border-bottom: 1px solid transparent;

        background-color: transparent;

        font-size: 15px;
        letter-spacing: 0px;
        color: #ff0000;
        font-family: "Verdana", Arial, sans-serif;

        cursor: pointer;

        position: relative;

        & .croseOne, .croseTwo {
          transition: visibility 0.2s ease-in-out;

          position: absolute;

          top: 10px;
          left: -12px;

          width: 15px;
          height: 3px;

          background-color: #ff0000;

          transform: rotateZ(45deg);
        }
        & .croseTwo {
          transform: rotateZ(-45deg);
        }
      }
      & .removeFileButton:hover {
        border-bottom: 1px solid #ff0000;
      }
    }

    & .documentDescriptionContainer.hideDescription {
      //display: none;
      overflow: hidden;
      max-height: 40px;

      & .descriptionText {
        visibility: hidden;
      }
      & .editDescriptionButton {
        visibility: hidden;
      }

      & .editDescriptionButton:before {
        visibility: hidden;
      }

      & .removeFileButton {
        visibility: hidden;

        & .croseOne, .croseTwo {
          visibility: hidden;
        }
      }
    }

    & .documentChangeContainer {

      background-color: inherit;

      max-height: 300px;

      //display: block;
      overflow: hidden;

      -webkit-transition:max-height 0.4s ease-in-out;
      -moz-transition:max-height 0.4s ease-in-out;
      transition:max-height 0.4s ease-in-out;

      z-index: 2;

      position: relative;

      & .changeDocumentDescription {
        width: 100%;

        min-height: 60px;

        margin-bottom: 30px;
      }

      & .updateButton {
        width: fit-content;


        padding: 10px 10px;

        margin-right: 20px;

        background-color: #ff0000;

        border: none;
        border-radius: 10px;
        outline: none;

        font-size: 15px;
        letter-spacing: 0px;
        color: #ffffff;
        font-family: "Verdana", Arial, sans-serif;

        cursor: pointer;
      }

      & .updateButton:hover {
        background-color: rgba(255, 0, 0, 0.7);
      }

      & .cancelButton {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #ff0000;
        font-family: "Verdana", Arial, sans-serif;

        background-color: transparent;

        border: none;
        outline: none;

        cursor: pointer;
      }
    }

    & .documentChangeContainer.hideForm {
      //display: none;
      overflow: hidden;
      max-height: 0;
    }

  }

  & .statusContainer {
    display: flex;
    align-items: flex-start;
    justify-content: right;
   & p {
     margin: 0;

     width: fit-content;

     padding: 0 5px;

     font-size: 12px;
     letter-spacing: 0px;
     color: #ffffff;
     font-family: "Verdana", Arial, sans-serif;

     background-color: #ff0000;

     border: 1px solid #7c0606;
     border-radius: 5px;
   }
    & p.pending {
      color: #845c24;

      background-color: #f2bd59;

      border: 1px solid #cc9342;
    }
    & p.success {
      color: #ffffff;

      background-color: #2e7907;

      border: 1px solid #184905;
    }
  }
}

.errorMessage {
  display: block;

  font-size: 12px;
  letter-spacing: 0px;
  color: #ff0000;
  font-family: "Verdana", Arial, sans-serif;

  margin-left: 140px;

  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {

  .mainContainer {
    padding: 0 20px;
  }

  .secondTextBlock {
    border-bottom: 1px solid #b2b2b2;
  }

  .divider {
    display: none;
  }

  .documentItemWrapper {
    min-width: auto;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    & .documentNameContainer {
      order: 1;

      margin-bottom: 15px;
    }
    & .documentChangingContainer {
      order: 3;
    }
    & .statusContainer {
      order: 2;

      justify-content: left;

      margin-bottom: 15px;
    }
  }
}