$red-color: #99cc33;
$blue-background: #2280eb;
$dark-blue-back: #2163ab;
$pink-text-shadow: #ff7d7d;
$gray-back-color: #a7a7a7;
$dark-gray-back: #535353;
$hover-gray-back-color: #d5d5d5;
$purple-link: #452562;

$blue-shadow: #47b6ff;
$light-blue-shadow: #00fff6;

// Loading items
$light-green: #96d399;
$strong-green: #47b14c;

$black-back-modals: rgba(0,0,0, 0.8);

$light-black-back: rgba(0,0,0,0.3);

// My account

$gray-text-color: #595656;
$light-gray-text: #747272;
