.tournamentSideContainer {
  position: fixed;
  z-index: 20;

  top: 0;
  right: 0;

  width: 358px;
  height: 100vh;

  background-color: #1b1e23;

  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;

  transform: translateX(388px);

  transition: transform 0.5s ease-in-out;
}
.showTournament {
  transform: translateX(0px);
}

.head {
  position: relative;
  flex-shrink: 0;

  & > p {
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Verdana";
    text-transform: uppercase;

    margin: 30px 0px 30px 35px;

  }

  & .closeButton {
    width: 27px;
    height: 27px;

    position: absolute;
    top: 5px;
    right: 16px;

    background-color: transparent;

    outline: none;
    border: none;

    cursor: pointer;

     & .closeOne, .closeTwo {
       display: flex;
       width: 30px;
       height: 3px;

       background-color: #ffffff;

       border-radius: 5px;

       transform: rotateZ(45deg);

       position: absolute;
       left: 0;
     }
    & .closeTwo {
      transform: rotateZ(-45deg);

      left: 0;
    }
  }
}

.sliderWrapper  {
  flex-shrink: 0;

  width: 358px;
  background-color: #2a2a31;

  position: relative;

  padding: 10px 0;

}
.left {
  left: -20px;
}

.slideItemWrapper {
  padding: 5px;
}
.slideItem {
  background-color: #444444;

  width: 285px;
  height: 150px;

  border: 1px solid #a7a7a7;

  position: relative;

  //left: -20px;

  & img {
    width: 100%;
    height: 100%;
  }
}


.sliderCustom {
  width: 358px;
  [class ~= 'slick-track'] {
    display: flex;
  }
}

.nextArr, .prevArr {
  position: absolute;

  top: 35%;


  width: 30px;
  height: 55px;



  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  font-weight: 900;
  color: #ffffff;

  background-color: rgba(0,0,0, 0.3);

  z-index: 1;
}
.nextArr {
  right: 0px;

  border-radius: 10px 0 0 10px;
  border-top: 2px solid rgba(255,255,255,0.56);
  border-left: 2px solid rgba(255,255,255,0.56);
  border-bottom: 2px solid rgba(255,255,255,0.56);
}

.prevArr {
  left: 0;

  border-radius: 0 10px 10px 0;
  border-top: 2px solid rgba(255,255,255,0.56);
  border-right: 2px solid rgba(255,255,255,0.56);
  border-bottom: 2px solid rgba(255,255,255,0.56);
}

.hide {
  display: none;
}


.prizerListWrapper {
  overflow-y: scroll;
}
.prizerListWrapper::-webkit-scrollbar {
  width: 0;
}

.prizerListWrapper {
  -ms-overflow-style: none;
}
.prizerListWrapper {
  overflow: -moz-scrollbars-none;
}

.prizerList {
padding: 0;
  list-style-position: inside;

  & .prizerItem {
    font-size: 13px;
    letter-spacing: 0px;
    color: #b7b7b7;
    font-family: "Verdana";
    font-weight: 900;

    //border-bottom: 1px solid #b7b7b7;

    margin-left: 10px;

    padding: 10px 0;
  }
  & .prizerItem span {
    //display: block;
    margin-right: 20px;
  }
  & span.winAward {
    margin-right: 5px;
  }
  & span.name {
    margin-right: 45px;
  }
  & span.points {
    margin-right: 35px;
  }
  & .prizerItem:first-child {
    color: #ffcf29;

    position: relative;
  }
  & .prizerItem:first-child:after {
    content: '';

    display: block;
    width: 23px;
    height: 29px;

    background-image: url("/assets/img/tournaments/first_place.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 0;
    left: 85px;
  }
}

.divider {
 border: 1px solid #b7b7b7;
  margin: 3px;
}

.buttonsWrapper {
  flex-shrink: 0;

  width: 100%;
  height: 90px;

  background-color: rgba(255, 255, 255, 0.1);

  padding-bottom: 10px;

  & .timeDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 24px 18px 44px;
  }
}
.timeBlock {
  position: relative;
}
.timeBlock:before {
  content: '';

  display: block;

  width: 21px;
  height: 21px;

  position: absolute;
  left: -30px;
  top: -3px;

  background-image: url("/assets/img/tournaments/time.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.timeText {
  font-size: 12px;
  color: #78797d;
  font-family: "Verdana";

  margin: 0;
}

.detailsButton {
  width: 83px;
  height: 24px;

  border-radius: 10px;
  border: none;

  background-color: #e3e3e3;

  cursor: pointer;

  font-size: 13px;
  letter-spacing: 0px;
  color: #ff0000;
  font-family: "Verdana";
}

.depositSignupContainer {
  display: flex;
  align-items: center;
  justify-content: center;


  & .buttonRegisterDeposit {
    width: 94px;
    height: 27px;

    border-radius: 10px;
    border: none;

    background-color: #ff0000;

    font-size: 13px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Verdana";
    text-transform: uppercase;

    cursor: pointer;
  }
  & .buttonRegisterDeposit.ru {
    font-size: 10px;
  }
}


.tournamentIconWrapper {
  width: 55px;
  height: 60px;
  background-color: #ff0000;

  border-radius: 15px 0 0 15px;


  position: fixed;

  right: 0;

  top: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 10;

  & .tournamentImage {
    width: 34px;
    height: 37px;
  }
}
