.hidden {
  display: none;

}

.mainFooter {
  background-color: #3a1912;
}
.footerLogoWrapper {
  width: 100%;
  height: 50px;
  position: relative;
  .footerLogo {
    position: absolute;
    left: calc(50vw - 50px);
    top: -50px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 10px solid #3a1912;
    background-color: #3a1912;
    background-image: url("/assets/img/mainLayoutImg/logo-round.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.footerUpperBlock {
  padding: 50px 0 50px 0;
  justify-content: center;
  display: flex;
  & ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
  }
}
.linksFirst, .linksSecond {
  display: flex;
}
.linksFirst li, .linksSecond li {
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 0 15px;

  font-family: "Verdana";

  margin-bottom: 35px;

  & span {
    cursor: pointer;
  }
}
.linksFirst li:first-child:after{
  content: ' 7/24';
  color: #ffffff;
}
.linksFirst li:first-child {
  color: #00deff;
}
.linksFirst li:last-child {
  margin-bottom: 0px;
}

.footerMiddleBlock {
  width: 100%;
  //height: 65px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.footerMiddleInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;

  padding: 0 50px 0 50px;
}
.footerMiddleInnerWrapper div {
  //width: 110px;
}

.footerLowerBlock {
  padding: 4px 0;
  & .divider {
    height: 17px;
  }
}

.footerLowerBlock.paddingEnable {
  padding: 4px 0 40px;
}
.lowerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0 15px;
}
.socialBlock {
  margin-top: 20px;

  display: flex;
  flex-wrap: nowrap;
}

.languageRightInfo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  & .licensingBlock {
    margin: 0 55px 0 20px;
  }
}
.languageRightInfo p {
  color: #4e7877;
  white-space: nowrap;

  display: block;
  margin-left: 5px;
}
p.rightInfoText {
  margin-left: 45px;
}

.languageSelectBlock {
  display: flex;
  flex-wrap: nowrap;
}
.rightsLicenseContainer {
  display: flex;
  flex-wrap: nowrap;
}

.chooseLanguageButton {
  border: 1px solid #9bfffd;

  width: 189px;
  height: 42px;

  display: flex;
  align-items: center;

  padding: 0 23px;
  margin-left: 25px;

  position: relative;
}
.chooseLanguageButton:after {
  content: '';

  border-top: 2px solid #9bfffd;
  border-right: 2px solid #9bfffd;

  width: 10px;
  height: 10px;

  color: #9bfffd;

  position: absolute;
  transform: rotateZ(135deg);

  top: 10px;
  right: 20px;
}
.chooseLanguageButton span {
  color: #9bfffd;
  text-transform: uppercase;
  font-size: 16px;
}
.chooseLanguageButton span:hover {
  cursor: pointer;
}

.dropdownWrapper {
  position: absolute;

  width: inherit;
  height: 125px;

  background-color: #9fabba;

  z-index: 10;

  overflow-y: scroll;

  top: -126px;
  left: -1px;


}
.langChooserBlockList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
}
.langChooserListItem {
  margin-top: 10px;
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    color: #9bfffd;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.langChooserListItem:first-child {
  margin-top: 0px;
}
@media screen and (max-width: 1361px) {
  .lowerFooter{
    padding: 20px 15px 0 20px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .languageRightInfo {
    width: 100%;
    justify-content: space-between;
  }
  p.rightInfoText {
    margin-left: 5px;
  }

}
@media screen and (max-width: 1180px) {
  .footerUpperBlock {
    padding: 5.2% 0 4% 7.6%;
  }
  .footerMiddleBlock {
    justify-content: left;

    width: 1180px;

  }
  .footerMiddleInnerWrapper {
    width: 100vw;

    overflow-x: scroll;

    padding: 0 10px 0 10px;
  }
  .footerMiddleInnerWrapper div {
    margin-right: 10px;
  }
  .divider {
    display: none;
  }
  .lowerFooter{
    padding: 20px 15px 0 20px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .languageSelectBlock p {
    margin-left: 0;
  }
}



@media screen and (max-width: 700px) {
  .footerUpperBlock {
    padding: 5.2% 0 0% 7.6%;
  }
  .languageRightInfo{
    flex-direction: column;
    margin-top: 0;
  }
  .languageRightInfo p {
    color: #949495;
    white-space: nowrap;

    display: block;
    margin-left: 5px;

    font-size: 12px;
  }
  .languageRightInfo > p {
    font-size: 10px;
  }
  .rightsLicenseContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .chooseLanguageButton {
    width: 96px;
    height: 30px;
    justify-content: center;
    padding: 0;
    margin-left: 5px;

  }
  .chooseLanguageButton:after {
    display: none;
  }
  .chooseLanguageButton span {
    color: #9bfffd;
    text-transform: uppercase;
    font-size: 12px;

  }
  .socialBlock {
    margin-top: 10px;
  }
  .socialImage {
    width: 45px;
    height: 43px;
  }
}


@media screen and (max-width: 600px) {
  .footerUpperBlock {
    padding: 5.2% 0 3% 7.6%;

    display: flex;
    & ul {
      list-style-type: none;
      margin: 0 9% 0 0;
      padding: 0;
    }
  }


  .linksFirst li, .linksSecond li {
    white-space: normal;
    font-size: 13px;
    letter-spacing: 0px;
    color: #ffffff;

    font-family: "Arial", sans-serif;

    margin-bottom: 15px;

    & span {
      cursor: pointer;
    }
  }
  .linksFirst li:first-child:after{
    content: ' 7/24';
    color: #ffffff;
  }
  .linksFirst li:first-child {
    color: #00deff;
  }
  .linksFirst li:last-child {
    margin-bottom: 0px;
  }
}
