.gamePageMainSection {
  //padding: 100px 0;
  //position: fixed;

  //top: 0;
  //left: 0;

  //z-index: 18;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  overflow-y: hidden;
  overflow-x: hidden;

  background-color: #282828;

  background-image: url("/assets/img/gamePage/backIcons.png");
  background-position: center;


  min-height: 95vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreenMainSection {
  z-index: 30;
}


.blackBack {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}

.red {
  position: absolute;

  width: 550px;
  height: 550px;

  background: rgb(187,0,0);
  background: radial-gradient(circle, rgba(187,0,0,0.2623249983587185) 2%, rgba(187,0,0,0.2623249983587185) 8%, rgba(255,255,255,0) 78%);
  background-repeat: no-repeat;
  background-size: 100%;

  z-index: 1;
}

.redOne {
  top: -100px;
  right: 100px;
}
.redTwo {
  bottom: -300px;
  right: -200px;
}
.redTree {
  bottom: 50px;
  left: 200px;
}

.blue {
  position: absolute;

  width: 550px;
  height: 550px;

  background: rgb(1,0,187);
  background: radial-gradient(circle, rgba(1,0,187,0.2023249983587185) 2%, rgba(1,0,187,0.2023249983587185) 8%, rgba(255,255,255,0) 78%);
  background-repeat: no-repeat;
  background-size: 100%;

  z-index: 1;
}

.blueOne {
  top: -250px;
  left: 100px;
}
.blueTwo {
  bottom: -300px;
  left: -200px;
}
.blueTree {
  bottom: 0px;
  right: 400px;
}

.backgroundMinimized {
  display: none;
}

.playWindowWrapper {

  position: absolute;
  top: 130px;
  bottom: auto;
  left: 50%;
  z-index: 11;
  transform: translateX(-50%);

  --aspect-ratio: 16/9;

  width: calc((100vh - 154px)*var(--aspect-ratio));
  max-width: calc(100% - 78px);


  height: 55vw;
  max-height: calc(100vh - 205px);

  transition: .3s ease;

  background-color: rgba(0,0,0, 1);

  & .controlPanel {
    width: 30px;
    min-width: 25px;
    height: 18%;
    min-height: 100px;

    background-color: rgba(0,0,0, 0.5);

    position: absolute;
    top: 0;
    right: -30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;

    & button {
      flex-shrink: 0;

      background-color: rgba(53, 69, 72, 0.5);

      margin-bottom: 8px;

      width: 24px;
      height: 24px;

      border-radius: 50%;

      border: none;
      outline: none;

      cursor: pointer;

      transition: background-color 0.2s ease;
    }
    & button:hover {
      background-color: rgba(83, 104, 110, 0.5);
    }
  }
}

.displayNone {
  display: none;
}


.playWindowWrapper.minimizedPlayWindow {
  //--aspect-ratio: 16/9;
  position: fixed;


  top: auto;
  left: 30px;
  bottom: 90px;

  width: 100%;
  max-width: 533px;


  z-index: 9;
  transform: translateX(0);
  height: 340px;
  max-height: 340px;
  transition: .3s ease;

  background-color: rgba(0, 0, 0, 1);

  overflow: hidden;

  & .minimizedControlPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;

    min-height: 38px;

    background-color: #2b2b2b;

    & p {
      margin: 0;

      font-size: 16px;
      letter-spacing: 0px;
      color: #b1b3b4;
      font-family: "Verdana", Arial, sans-serif;
      text-align: center;
    }

    & .closeButton {
      flex-shrink: 0;

      background-color: rgba(53, 69, 72, 0.5);

      width: 34px;
      height: 34px;

      border-radius: 50%;

      border: none;
      outline: none;

      cursor: pointer;

      transition: background-color 0.2s ease;

      background-image: url("/assets/img/gamePage/close.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
    }

    & button:hover {
      background-color: rgba(83, 104, 110, 0.5);
    }
  }
}


.fullScreenWindow {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

  transform: translateX(0%);

  top: 0px;
  left: 0px;
  z-index: 30;

  & .controlPanel {
    width: 50px;
    min-width: 35px;
    height: 23%;
    min-height: 130px;

    background-color: rgba(0,0,0, 0.5);

    position: absolute;
    top: 0;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
  }
}



.close {
  background-image: url("/assets/img/gamePage/close.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.fullScreen {
  background-image: url("/assets/img/gamePage/full.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.minimize {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  & span {
    display: block;

    width: 10px;
    height: 10px;

    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

    transform: rotateZ(135deg);

    margin-bottom: 5px;
  }
}

.gameWindow {
  width: 100%;
  height: 100%;
}

.openFullScreenContainer {
  position: absolute;

  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: transparent;

  opacity: 0;
  background-color: rgba(0,0,0, 0.8);
  background-image: url("/assets/img/gamePage/fullscreen.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 0.3s ease-in-out;
}

.openFullScreenContainer:hover {
  background-color: rgba(0,0,0, 0.8);

  opacity: 1;

  background-image: url("/assets/img/gamePage/fullscreen.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 0.3s ease-in-out;
}