@import '../../colors.module';

.secondHeadingContainer {
  padding-bottom: 30px;
  padding-left: 10px;

  border-bottom: 1px solid #b6b6b6;

  & h3 {
    margin: 0;

    font-size: 16px;
    letter-spacing: 0px;
    color: $gray-text-color;
    font-family: "Verdana", Arial, sans-serif;
  }
}

.linksBlock {
  display: flex;
  align-items: center;

  padding-left: 10px;
  padding-top: 10px;

  & .textContainer {

    & p {
      margin: 35px 20px 35px 0;

      font-size: 16px;
      letter-spacing: 0px;
      color: $gray-text-color;
      font-family: "Verdana", Arial, sans-serif;
      white-space: nowrap;
    }
  }

  & .linksContainer {

    & .linksList {
      margin: 0;
      padding: 0;

      list-style-type: none;

      display: flex;
      align-items: center;
      flex-wrap: wrap;


    }

    & .linkItem {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 7px;
      margin-bottom: 10px;

      min-width: 80px;
      height: 50px;
      border-radius: 20px 20px 0 0;
      background-color: transparent;
      border: 2px solid $red-color;

      & a {
        font-family: "Verdana", Arial, sans-serif;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;

        & .currencyContainer {
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          letter-spacing: 0;
          color: $red-color;
          font-size: 18px;
          font-weight: 600;
          margin-right: 7px;
          margin-left: 7px;

          & .iconContainer {
            height: 23px;
            margin-right: 3px;
            flex-shrink: 0;
            display: inline-block;
            vertical-align: text-top;
            & svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        & .baseContainer {
          height: 16px;
          flex-shrink: 0;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          width: 100%;
          background: $red-color;
        }
      }
    }

    & .activeLink {
      background-color: $red-color;

      & a {
        color: #ffffff;
      }

      & .currencyContainer {
        color: #ffffff !important;
      }
    }

  }
}

.availableCashoutBlock {
  border-radius: 5px;
  background-color: $red-color;

  padding: 11px 17px;

  margin-bottom: 42px;

  & p {
    margin: 0;

    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Verdana", Arial, sans-serif;

    & a {
      text-decoration: underline;
    }
  }
}


.formErrorMessage {
  font-size: 14px;
  letter-spacing: 0px;
  color: $red-color;
  font-family: "Verdana", Arial, sans-serif;
}

.selectMethodContainer {

  margin-bottom: 50px;

  & .containerHeading {
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 10px;

    font-size: 16px;
    letter-spacing: 0px;
    color: $gray-text-color;
    font-family: "Verdana", Arial, sans-serif;
  }


  & .paymentMethodWrapper {

    & .methodsList {
      margin: 0;
      padding: 0;

      list-style-type: none;

      & .methodItem {
        position: relative;


        & .paymentItemMainContainer {
          display: flex;
          align-items: center;

          padding: 10px 0;

          margin-bottom: 2px;

          background-color: #eeeeee;

          min-height: 55px;
          & .coinName {
            font-size: 16px;
            letter-spacing: 0px;
            color: $gray-text-color;
            font-family: "Verdana", Arial, sans-serif;

            min-width: 70px;

            margin-right: 5px;

            display: block;
            //flex-shrink: 0;

            white-space: break-spaces;
          }
          & .methodImageContainer {
            width: 35px;

            flex-shrink: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: Verdana, Arial, sans-serif;
            font-size: 24px;

            margin-left: 5px;
            margin-right: 5px;

            & svg {
              width: 100%;
              height: auto;
            }
          }

          & .creditCardImageContainer {
            width: 308px;

            & img {
              width: 19%;
              height: auto;

              margin-right: 10px;
            }
          }

          & .paymentInfoContainer {
            display: flex;
            align-items: center;
            justify-content: right;

            //padding-right: 60px;
            min-width: 100px;
            width: 100%;

            & p {

              margin: 0;

              font-size: 13px;
              letter-spacing: 0px;
              color: $gray-text-color;
              font-family: "Verdana", Arial, sans-serif;
              text-align: right;
            }
          }
        }

        & .paymentMethodFormWrapper {
            padding-top: 45px;
            padding-bottom: 45px;

            display: none;

          & .valueInputContainer {
            display: flex;
            flex-direction: column;

            margin-bottom: 40px;

            & .amountLabel {
              font-size: 16px;
              letter-spacing: 0px;
              color: $gray-text-color;
              font-family: "Verdana", Arial, sans-serif;

              margin-bottom: 10px;
            }

            & .valueInnerWrapper {
              margin-bottom: 5px;

              & input {
                max-width: 338px;
                width: 100%;
                height: 38px;
                border-radius: 5px;
                background-color: #ededed;

                border: none;
                outline: none;

                font-size: 16px;
                letter-spacing: 0px;
                color: $gray-text-color;
                font-family: "Verdana", Arial, sans-serif;

                margin-right: 15px;
              }

              & label {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0px;
                color: #4e4e4e;
                font-family: "Verdana", Arial, sans-serif;
              }
            }
          }

          & .addressInputContainer {
            display: flex;
            flex-direction: column;

            margin-bottom: 54px;

            & input {
              max-width: 338px;
              width: 100%;
              height: 38px;
              border-radius: 5px;
              background-color: #ededed;

              border: none;
              outline: none;

              font-size: 16px;
              letter-spacing: 0px;
              color: $gray-text-color;
              font-family: "Verdana", Arial, sans-serif;

            }

            & label {
              font-size: 16px;
              letter-spacing: 0px;
              color: $gray-text-color;
              font-family: "Verdana", Arial, sans-serif;

              margin-bottom: 10px;
            }
          }

          & .submitButton {
            width: fit-content;
            height: 34px;

            padding: 0 20px;

            border: none;
            outline: none;

            border-radius: 17px;
            background-color: $red-color;

            font-size: 15px;
            letter-spacing: 0px;
            color: #ffffff;
            font-family: "Verdana", Arial, sans-serif;
          }

          & .errorMessage, .successMessage {
            font-size: 15px;
            letter-spacing: 0px;
            color: $red-color;
            font-family: "Verdana", Arial, sans-serif;

            display: block;

            margin-bottom: 10px;
          }
          & .successMessage {
            color: #43ab00;
          }

        }

      }

      & .methodItem .indicatorContainer {
        flex-shrink: 0;
        width: 7px;
        height: 7px;

        margin-right: 30px;
        margin-left: 30px;

        border-top: 2px solid #5f5f5f;
        border-left: 2px solid #5f5f5f;

        //position: absolute;
        right: 20px;
        top: 50%;

        z-index: 2;

        transform: rotateZ(-135deg);

        transition: transform 0.5s ease-in-out;
      }

      & .methodItem.activeMethodItem .indicatorContainer {

        border-top: 2px solid $red-color;
        border-left: 2px solid $red-color;

        transform: rotateZ(45deg);
      }

      & .methodItem.activeMethodItem .paymentMethodFormWrapper {
        display: block;
      }

    }
  }
}

.tryBitcoinContainer {

  & p {
    margin: 0 0 40px 0;

    font-size: 16px;
    color: $gray-text-color;
    font-family: "Verdana", Arial, sans-serif;
  }

  & .playWithBitcoinButton {
    width: fit-content;
    height: 34px;
    border-radius: 17px;
    background-color: $red-color;

    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 15px;

    cursor: pointer;

    & span {
      font-size: 16px;
      letter-spacing: 0px;
      color: #ffffff;
      font-family: "Verdana", Arial, sans-serif;
    }

    & img {
      width: 21px;
      height: 21px;

      margin: 0 5px;
    }
  }
}


@media screen and (max-width: 600px) {
  .selectMethodContainer {

    & .paymentMethodWrapper {

      & .methodsList {

        & .methodItem {

          & .paymentItemMainContainer {

            & .methodImageContainer {
              width: 30px;

              flex-shrink: 0;

              display: flex;
              align-items: center;
              justify-content: center;

              & svg {
                width: 100%;
                height: auto;

              }
            }

            & .creditCardImageContainer {
              width: 150px;
              & img {
                width: 34%;
                height: auto;

                margin-right: 5px;
              }
            }

          }

          & .paymentMethodFormWrapper {

            & .valueInputContainer {

              & .valueInnerWrapper {

                & input {
                  max-width: 238px;

                  border: 1px solid #9e9e9e;
                }

              }
            }

            & .addressInputContainer {
              display: flex;
              flex-direction: column;

              margin-bottom: 54px;

              & input {

                border: 1px solid #9e9e9e;
              }

            }

            & .errorMessage, .successMessage {
              font-size: 13px;
            }
            & .successMessage {
              color: #43ab00;
            }

          }
        }
        & .methodItem .indicatorContainer {
          flex-shrink: 0;
          width: 14px;
          height: 14px;

          margin-right: 10px;
          margin-left: 10px;

          border-top: 2px solid #5f5f5f;
          border-left: 2px solid #5f5f5f;

          //position: absolute;
          right: 20px;
          top: 50%;

          z-index: 2;

          transform: rotateZ(-135deg);

          transition: transform 0.5s ease-in-out;
        }

        & .methodItem.activeMethodItem .indicatorContainer {

          border-top: 2px solid $red-color;
          border-left: 2px solid $red-color;

          transform: rotateZ(45deg);
        }

      }
    }
  }
}
