.footerAreaMainContainer {
  width: 100%;
  height: 54px;


  background-color: #1e1f20;

  position: fixed;
  bottom: 0;
  z-index: 10;


}

.imgContainer {
  height: inherit;

  display: flex;
  align-items: center;

  & .slotsImg {
    width: 54px;
    height: 36px;

    margin-right: 25px;
    margin-left: 40px;
    cursor: pointer;
  }
  & .timeImg {
    width: 35px;
    height: 34px;

    cursor: pointer;
  }
}

.gamesWrapper {
  transform: translateY(254px);

  opacity: 0;

  width: 100%;
  height: 200px;

  position: absolute;

  background-color: #393939;

  display: flex;
  align-items: center;
  //justify-content: ;

  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;

  & .navigationContainer {
    width: 15%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 0;

    & .typeOfGames {
      font-size: 24px;
      letter-spacing: 1px;
      color: #ff0000;
      font-family: "Swiss721 BT";

      text-transform: uppercase;
    }
    & .backButton {
      width: 38px;
      height: 38px;
    }
  }
  & .gamesListContainer {
    //max-width: 1400px;
    width: 85%;

    position: relative;
  }
}

.nextArr, .prevArr {
  width: 40px;
  height: 100%;
  background-color: rgba(57, 57, 57, 0.7);

  position: absolute;
  z-index: 1;

  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  color: #979797;

  cursor: pointer;
}
.nextArr {
  right: 0;
}
.prevArr{
  left: -30px;
}
.nextArr:hover {
  background-color: rgba(57, 57, 57, 1);
}
.prevArr:hover {
  background-color: rgba(57, 57, 57, 1);
}

.active {
  opacity: 1;
  transform: translateY(-254px);
}
