@import '../colors.module';

.footerAreaMainContainer {
  width: 100%;
  //height: 54px;


  height: 38px;
  background-color: rgba(21,21,21,0.9);

  //background-color: #1e1f20;

  position: fixed;
  bottom: 0;
  z-index: 10;


}

.imgContainer {
  height: inherit;

  display: flex;
  align-items: center;

  & .slotsImg {
    width: 54px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0px;
    margin-left: 20px;
    cursor: pointer;

    //background-color: #ff0e0e;
  }
  & .timeImg {
    //width: 35px;
    //height: 34px;
    width: 54px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    //background-color: #ff0e0e;

    cursor: pointer;
  }
}

.gamesWrapper {
  transform: translateY(164px);

  opacity: 0;

  width: 100%;
  height: 126px;

  position: absolute;

  background-color: #000000;

  display: flex;
  align-items: center;
  //justify-content: ;

  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;

  & .navigationContainer {
    width: 15%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 0;

    & .typeOfGames {
      font-size: 24px;
      letter-spacing: 1px;
      color: $red-color;
      font-family: "Swiss721 BT", sans-serif;
      white-space: break-spaces;
      text-align: center;

      text-transform: uppercase;

      margin: 0 25px 10px;
    }
    & .ru {
      font-size: 20px;
    }
    & .backButton {
      width: 38px;
      height: 38px;
    }
  }
  & .gamesListContainer {
    //max-width: 1400px;
    width: 85%;

    position: relative;
  }
}

.customSlider {
  //overflow: hidden;
  //[class ~= 'slick-track'] {
  //  display: flex;
  //}
}

.gameItemWrapper {
  max-width: 185px;
  width: 100%;

  height: 115px;

  margin: 10px;

  position: relative;

  & img {
    width: 100%;
    height: 100%;
  }
  & .hoverWrapper {
    display: none;

    background-color: rgba(0,0,0,0.5);
    border: 1px solid #00e3ff;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    //width: 100%;
    //height: 100%;
  }
}

.frame {
  border: 2px solid #000000;
}



.gameItemWrapper:hover {

  & .hoverWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.playButton, .playForFunButton {
  width: 55%;
  height: 20%;

  margin: 0 auto 5px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  & > span {
    font-size: 14px;
    letter-spacing: 0px;
    //line-height: 48px;
    color: #1e2127;
    text-transform: uppercase;
  }
}
.playButton {
  background-color: #00e3ff;
}
.playButtonInactive {
  & > span {
    color: #7e7e7e;
  }
  background-color: #452222;

  cursor: not-allowed;
}
.playForFunButton {
  background-color: #15171b;
  border: 1px solid #909091;
  & > span {
    color: #ffffff;
  }
}


.nextArr, .prevArr {
  width: 40px;
  height: 92%;
  background-color: rgba(57, 57, 57, 0);

  position: absolute;
  z-index: 1;

  top: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  color: #979797;

  cursor: pointer;
}
.nextArr {
  right: 0;
}
.prevArr{
  left: -30px;
}
.nextArr:hover {
  background-color: rgba(57, 57, 57, 0.4);
}
.prevArr:hover {
  background-color: rgba(57, 57, 57, 0.4);
}

.active {
  opacity: 1;
  transform: translateY(-164px);

}
