@font-face {
  font-family: 'Verdana';
  src: url("/fonts/verdana/Verdana.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana-Bold';
  src: url("/fonts/verdana/Verdana-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana-BoldItalic';
  src: url("/fonts/verdana/Verdana-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Verdana-Italic';
  src: url("/fonts/verdana/Verdana-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans';
  src: url("/fonts/sourcesans/sourcesans.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans';
  src: url("/fonts/sourcesans/sourcesans.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans';
  src: url("/fonts/sourcesans/sourcesans.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Swiss721 BT";
  src: url("/fonts/swiss721bt/swiss721BlackBt.ttf");
}
@font-face {
  font-family: "Swiss721 LT";
  src: url("/fonts/swiss721bt/swiss721BlackLt.otf");
}
@font-face {
  font-family: "Lato Latin Sem Bd";
  src: url("/fonts/lato/LatoLatinSemBd.ttf");
}
@font-face {
  font-family: "Franklin Gothic";
  src: url("/fonts/franklinGothic/franklingothic.ttf");
}
@font-face {
  font-family: 'Segoe UI';
  src: url("/fonts/segoeUI/SegoeUI.ttf");
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: url("/fonts/segoeUI/SegoeUIBold.ttf");
  font-style: normal;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Franklin Gothic;

  width: 100%;

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next{
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}


// Fix for slider color view
._promotionsBlock div.slick-slide:nth-child(odd) > div > div > div {
  background-color: #2280eb;
  & > div:nth-child(2) {
    background-color: #2280eb;
  }
}

.loadingHeader {
  margin: 0 auto;
  text-align: center;
  color: #ff0e0e;
}

