@import './colors.module';

.loaderWrapper {
  height: 300px;
  width: 150px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0 auto;

  & div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

.loadingText {
  margin-top: 0;
  margin-bottom: 40px;

  color: $gray-back-color;
  font-family: Arial, sans-serif;
  font-size: 16px;
  
}

.itemOne {
  background-color: $light-green;
  //animation: changeColorOne 4s ease-in-out infinite;
  animation-name: changeColorOne;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.itemTwo {
  background-color: $light-green;
  //animation: changeColorTwo 1s ease-in-out infinite;
  animation-name: changeColorTwo;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.itemThree {
  background-color: $light-green;
  //animation: changeColorThree 1s ease-in-out infinite;
  animation-name: changeColorThree;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.itemFour {
  background-color: $light-green;
  //animation: changeColorFour 1s ease-in-out infinite;
  animation-name: changeColorFour;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes changeColorOne {
  0% {
    background-color: $light-green;
  }
  16% {
    background-color: $strong-green;
  }
  32% {
    background-color: $strong-green;
  }
  48% {
    background-color: $light-green;
  }
  64% {
    background-color: $light-green;
  }
  80% {
    background-color: $light-green;
  }
  100% {
    background-color: $light-green;
  }
}

@keyframes changeColorTwo {
  0% {
    background-color: $light-green;
  }
  16% {
    background-color: $light-green;
  }
  32% {
    background-color: $strong-green;
  }
  48% {
    background-color: $strong-green;
  }
  64% {
    background-color: $light-green;
  }
  80% {
    background-color: $light-green;
  }
  100% {
    background-color: $light-green;
  }
}

@keyframes changeColorThree {
  0% {
    background-color: $light-green;
  }
  16% {
    background-color: $light-green;
  }
  32% {
    background-color: $light-green;
  }
  48% {
    background-color: $strong-green;
  }
  64% {
    background-color: $strong-green;
  }
  80% {
    background-color: $light-green;
  }
  100% {
    background-color: $light-green;
  }
}

@keyframes changeColorFour {
  0% {
    background-color: $light-green;
  }
  16% {
    background-color: $light-green;
  }
  32% {
    background-color: $light-green;
  }
  48% {
    background-color: $light-green;
  }
  64% {
    background-color: $strong-green;
  }
  80% {
    background-color: $strong-green;
  }
  100% {
    background-color: $light-green;
  }
}