
.registerSignupWrapper {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 17;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0, 0.8);

  overflow-y: scroll;
}

.forClosePopup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 18;
}

.registerMainBlock {
  position: relative;
  z-index: 18;

  max-width: 700px;

  margin: 100px auto;

  padding: 0 50px;
}

.registerHeading h2{
  font-size: 33px;
  line-height: 64px;
  color: #ff0000;
  font-weight: bold;
  font-family: "Gobold";
  text-transform: uppercase;
  text-align: center;

  margin: 0;

  white-space: nowrap;
}

.registerInnerBlock {
  max-width: 430px;

  background-color: #ffffff;

  border-radius: 15px;

  margin: 0 auto;
  padding: 4px;
}

.registerInnerBlockHead {
  background-color: #ff0000;

  border-radius: 15px 15px 0 0;

  display: flex;
  align-items: center;

  position: relative;
}

.registerInnerBlockHead h3{
  font-size: 24px;
  line-height: 64px;
  color: #ffffff;
  font-family: "Myriad Pro";
  text-align: center;

  margin: 0 ;

  flex: 1;
}

.registerInnerCloseButton {
  outline: none;
  border: none;
  background-color: transparent;

  width: 28px;
  height: 28px;

  position: absolute;
  top: 17px;
  right: 10px;

  &:hover {
    cursor: pointer;
  }
}

.closeOne, .closeTwo {
  position: absolute;
  top: 13px;

  width: 25px;

  border-top: 3px solid #ffffff;
  border-radius: 2px;
}
.closeOne {
  transform: rotateZ(45deg);
}
.closeTwo {
  transform: rotateZ(-45deg);
}

.registerInnerBlockForms {
  & form {
    display: flex;
    flex-direction: column;

    padding: 20px 34px 10px;

    & label {
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;

      font-size: 14px;
      color: #8f8f8f;
      font-family: "Verdana";

    }

    & input {
      height: 51px;
              //6vh;
              //51px;

      font-size: 15px;
      font-family: "Verdana";

      border: 1px solid #babbbc;
      border-radius: 0px;

      background-color: #f2f6f9;

      outline: none;

      margin-bottom: 5.5%;
              //20px;
      padding-left: 15px;
    }
    & .currencyInput {
      margin-bottom: 0px;
    }
    & input:focus {
      border: 1px solid #ff0000;
      border-radius: 0px;

    }
    & input:focus-visible {
      border: 1px solid #ff0000;
      border-radius: 0px;
    }
  }
}

.passwordEye {
  position: relative;

  & img {
    position: absolute;

    top: 24%;
    right: 14px;
  }
  & img:hover {
    cursor: pointer;
  }
}

.iHaveBonus {
  overflow: hidden;
  height: 40px;

  & p {
    color: #ff0000;

    text-align: center;

    cursor: pointer;
  }
  & input.bonusInput {
    width: 100%;
    display: none;
  }
}
.showBonusInput {
  height: auto;

  position: relative;
  & p {
    display: none;
  }
  & input.bonusInput {
    margin-top: 5.5%;
    color: #ff0000;
    display: block;
  }
  & input.bonusInput::-moz-placeholder {
    color: #ff0000;
  }
  & input.bonusInput::-webkit-input-placeholder {
    color: #ff0000;
  }
  & .labelForBonusInput {
    position: absolute;

    font-size: 12px;
    color: rgba(255, 0,0,0.5);

    top: 20px;
    left: 10px;
  }
}



.agreeTermsWrapper {
  display: flex;
  align-items: center;
  margin-top: 5.5%;
          //20px;
  & input.agreeTermsCheckbox {
    position: absolute;
    z-index: -1;
  }

  & .iReadAndAgreeLabel {
    display: inline-block;
    position: relative;

    margin-left: 40px;

    font-size: 10px;
  }
  & .iReadAndAgreeLabel:before {
    content: '';

    width: 18%;
            //38px;
    height: 25px;
            //34px;


    border: 1px solid #babbbc;
    border-radius: 5px;

    position: absolute;
    top: -7px;
    left: -40px;
  }
  & input.agreeTermsCheckbox:checked + .iReadAndAgreeLabel:before {
    background-color: #ff0000;

    background-image: url("/assets/img/registerSignup/checked.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  & a {
    color: #452562;
    text-decoration: underline;
    font-size: 10px;

    margin-left: 10px;

    position: relative;
    top: -2px;
  }
}

.alredyRegistered {
  margin: 0 auto;

  display: flex;
  justify-content: center;
  & p {
    font-size: 15px;
    color: #8f8f8f;
    font-family: "Verdana";
  }
  & .LogInText {
    color: #ff0000;
    margin-left: 10px;
  }
  & .LogInText:hover {
    cursor: pointer;
  }
}

.submitButtonWrapper {
  max-width: 430px;
  height: 75px;

  margin: 18px auto;
  padding: 4px;

  border-radius: 15px;

  background-color: #ffffff;

  & .submitButton {
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Myriad Pro";
    text-transform: uppercase;

    background-color: #ff0000;
    width: 100%;
    height: 100%;

    border-radius: 15px;
    border: none;
    outline: none;
  }
}

.currencyVariants {
  //display: none;

  overflow: hidden;
  width: 100%;
  height: 0px;
  border: 0px solid transparent;

  margin-top: 0px;
  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  & div {
    width: 50px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    margin: 5px;
  }
  & div:hover {

    background-color: #ff0000;

    & p {
      color: #ffffff;
    }
  }
}
.currencyVariants.activeCurrency {
  display: flex;

  height: auto;
  border: 1px solid #ff0000;
  border-top: 0px;
}

.errorMessage, .errorMessageYouAgree, .errorMessageRegister {
  font-size: 12px;
  color: #ff0000;

  position: relative;
  top: -10px;
}
.errorMessageYouAgree {
  top: 10px;
}

.errorMessageRegister {
  top: 15px;
}


@media screen and (max-width: 1065px) {
  .registerInnerCloseButton {
    display: none;
  }

  .agreeTermsWrapper {

    & .iReadAndAgreeLabel {
      font-size: 12px;
      margin-left: 40px;
    }
    & a {
      font-size: 12px;
    }
  }
  .submitButtonWrapper {

    height: 65px;

    margin: 10px auto;

  }
}
@media screen and (max-width: 650px) {

  .registerHeading h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {

  .registerHeading h2{
    font-size: 22px;
  }
  .registerInnerBlockHead h3{
    font-size: 24px;
    letter-spacing: 0px;
  }

  .registerInnerBlockForms {
    & form {
      padding: 20px 14px 10px;
    }
  }

  .agreeTermsWrapper {

    & .iReadAndAgreeLabel {
      font-size: 10px;
      margin-left: 40px;
    }
    & .iReadAndAgreeLabel:before {
      content: '';

      width: 14%;
      //38px;
      height: 150%;
      //34px;


      border: 1px solid #babbbc;
      border-radius: 5px;

      position: absolute;
      top: -5px;
      left: -30px;
    }
    & a {
      font-size: 10px;
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 450px) {
  .registerHeading h2{
    font-size: 20px;
  }
  .registerInnerBlockHead h3{
    font-size: 20px;
    letter-spacing: 0px;
  }
  .agreeTermsWrapper {

    & .iReadAndAgreeLabel {
      font-size: 10px;
      margin-left: 25px;
    }
    & .iReadAndAgreeLabel:before {
      content: '';

      width: 14%;
      //38px;
      height: 150%;
      //34px;


      border: 1px solid #babbbc;
      border-radius: 5px;

      position: absolute;
      top: -5px;
      left: -30px;
    }
    & a {
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .alredyRegistered {
    margin: 0 auto;
    & p {
      font-size: 12px;
    }
    & .LogInText {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 415px) {
  .registerHeading h2{
    font-size: 18px;
    line-height: 64px;
  }
  .registerInnerBlockHead h3{
    font-size: 19px;
    letter-spacing: 0px;
  }
  .agreeTermsWrapper {

    & .iReadAndAgreeLabel {
      font-size: 10px;
      margin-left: 20px;

      white-space: nowrap;
    }
    & .iReadAndAgreeLabel:before {
      content: '';

      width: 14%;
      //38px;
      height: 150%;
      //34px;

      border: 1px solid #babbbc;
      border-radius: 5px;

      position: absolute;
      top: -5px;
      left: -30px;
    }
    & a {
      font-size: 12px;
      margin-left: 5px;
      text-align: center;
    }
  }
}


.hideRegister {
  display: none;
}

.hideRegisterForCurrency {
  display: none;
}