@import './colors.module';

.termsMainWrapper {
  position: fixed;
  top: 0;
  left: 0;
  //right: 0;
  //bottom: 0;

  background-color: $black-back-modals;

  padding: 0 20px;

  width: 100vw;
  height: 100vh;

  z-index: 180;

}

.termsMainContainer {
  max-width: 800px;
  min-width: 340px;
  background: url("/assets/img/redeemPage/redeem-bg.jpg");
  //background: #fed480;
  align-self: center;
  min-height: 300px;
  max-height: 70vh;
  margin: 130px auto;
  //margin: 24px 30px 24px;
  display: flex;
  flex-direction: column;
}
.termsCloseButton {
  position: absolute;
  top: 13px;
  right: 13px;

  cursor: pointer;

  width: 20px;
  height: 20px;
}
.marginNull {
  margin: 50px auto;
}
.termsHeadingBlock {
  background: url("/assets/img/redeemPage/redeem-header-bg.jpg");
  background-repeat: repeat-x;
  height: 79px;
  position: relative;

  & .termsBackButton {
    cursor: pointer;

    width: 20px;
    height: 20px;

    position: absolute;
    top: 20px;
    left: 18px;
    transform: rotateZ(-45deg);
  }
  & .termsHeading {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    line-height: 79px;
    font-weight: 600;
    color: #481500;
    font-family: "Lithograph";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  & .termsCloseButton {
    position: absolute;
    top: 30px;
  }
}
.termsBody {
  flex: 1;
  text-align: left;
  color: white;
  //color: #845c24;
  padding: 25px 16px 35px;
  //font-family: "Lithograph";
  text-transform: uppercase;
  overflow-y: scroll;

  .termsTitle {
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
  }
}
.termsFooter {
  background: url("/assets/img/redeemPage/redeem-footer-bg.jpg");
  background-repeat: repeat-x;
  height: 36px;
  min-height: 36px;
}
@media screen and (max-width: 524px) {
  .termsMainWrapper {
    overflow: scroll;
  }
}
