.exit_intent_popup {
  position: fixed;
  top: 0;
  left: 0;
  //bottom: 0;
  //right: 0;

  width: 100vw;
  height: 100vh;

  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(60%) scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

  overflow-y: auto;
}

.exit_intent_popup.visible {
  transform: translateY(0) scale(1);
}

.exitMainContainer {
  margin: 0 auto;

  //position: absolute;
  //top: 100%;
  //left: 50%;
  transform: translateY(20%);

}

.exitMainContainer {

  max-width: 430px;
  width: 100%;
}

.innerWrapper {
  border-radius: 15px;
  background-color: #ffffff;

  padding: 4px 4px 18px;

  margin-bottom: 13px;
}


.headingBlock {
  background-color: #ff0000;

  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px 15px 0 0;

  position: relative;

  padding: 10px 5px 5px;

  & p {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;

    margin: 0;
  }
}


.closeButtonContainer {
  position: absolute;

  top: 7px;
  right: 6px;

  cursor: pointer;

  & button {
    width: 35px;
    height: 35px;

    outline: none;
    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  & .closeOne, .closeTwo{
    display: block;

    position: relative;

    background-color: #ffffff;
    width: 26px;
    height: 2px;
  }
  & .closeOne {
    transform: rotateZ(-45deg);
    top: 2px;
  }
  & .closeTwo {
    transform: rotateZ(45deg);
    top: 0px;
  }
}

.innerHeading {
  min-height: 70px;

  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #d3d3d3;

  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    font-size: 15px;
    color: #8f8f8f;
    font-family: "Verdana", sans-serif;
    text-align: center;

    margin: 0;

    white-space: pre-line;
  }
}


.seeAllButton {

  & a {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 430px;
    width: 100%;

    min-height: 75px;

    background-color: #ff0000;

    border: 4px solid #ffffff;
    border-radius: 15px;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
  }
}